<header class="header">
   <div class="header-left">
      <button type="button">Открыть меню</button>
      <a href="#">
         <div class="logo">
            <span class="logo__img"><img src="img/logo.png" alt="Логотип"></span>

            <div class="logo__description">
               <p><span>Мед</span>комиссия</p>
               <p>для водителей Москвы и МО</p>
            </div>
         </div>
      </a>
      <a class="header-call" href="tel:88005114026">Позвонить</a>
   </div>

   <div class="centers-block">
      <div class="centers">
         <span class="centers__img"><img src="img/pharmacy-pin.png" alt="пин"></span>
         <p><span>20</span> <span>Медицинских <br> центров</span></p>
      </div>
      <select class="metro">
         <option selected disabled>Выберите станцию метро</option>
         <option value="Студенческая">Студенческая</option>
         <option value="Курская">Курская</option>
      </select>
   </div>

   <div class="header-down">
      <div class="heade-down-inner">
         <ul class="header-nav-top">
            <li><a href="#">О Компании</a></li>
            <li><a href="#">Лицензии</a></li>
            <li><a href="#">Услуги и цены</a></li>
            <li><a href="#">Контакты</a></li>
         </ul>


         <ul class="header-nav-bottom">
            <li><a href="#">Медсправка водительская 003-В/у</a></li>
            <li><a href="#">Справка на работу 086/у</a></li>
            <li><a href="#">Тест на коронавирус (COVID-19)</a></li>
         </ul>
      </div>

      <div class="time-work">
         <a class="time-work__phone" href="tel:88005114026">8 (800) 511-40-26</a>
         <span>Ежедневно с 9:00 до 21:00</span>
         <a class="form-btn time-work__btn" href="#">Запись на комиссию</a>
      </div>
   </div>

</header>
