extends ../layout/layout.pug
block vars
    - var title = 'Внутряк';
block header
    include ../includes/header.pug
block content
    include ../includes/content-license.pug
block footer
    include ../includes/footer.pug