  @-moz-document url-prefix() {
	  
	 /*------------------------TOP-MENU-------------------------------*/
	 
 #top_menu .search input[type="submit"] {
   
	top:1px;
   }
  
  #top_menu .search  input[type="search"]{
	padding: 0 25px 1px 15px;
	
}
 
  /*------------------------LEFT-------------------------------*/
  #left input[type="button"]{
	
	font-size:12px;
	padding:6px;
	
}
  
  
}