<div class="breadcrumbs">
    <ul>
        <li>
            <a href="/">Главная</a>
        </li>
        <li>
            <a href="#">Медсправки</a>
        </li>
        <li>
            <a>Медсправка водительская для категорий А, А1, В, В1, М, ВЕ (003-в/у)</a>
        </li>
    </ul>
</div>
<section class="license-category">
    <p class="new-form__description">В наших медицинских центрах нельзя просто купить справку - нужно обязательно пройти медосмотр. Только после личного медицинского осмотра вы получите справку.</p>

    <h2 class="main-title">Медсправка водительская для категорий А, А1, В, В1, М, ВЕ (003-в/у)</h2>

    <div class="my-description">
        <p>Кроме того, для того чтобы получить <a href="#">справку 003-в/у в ГИБДД</a> , вам потребуется пройти определенные методы инструментальной диагностики. Необходимо сдать кровь <span>и мочу для обнаружения в организме наркотических веществ и психотропных препаратов. Обратите внимание, что анализы сдают не все водители, а только те, у которых имеются признаки заболеваний, выступающих в качестве противопоказаний к управлению транспортным средством. Иными словами, инструментальные методы диагностики назначаются психиатром или наркологом по своему усмотрению.</span><button type="button">далее</button></p>
    </div>

    <div class="licence-category-inner">
        <span class="license-category-img"><img src="img/driver.png" alt="Водитель"></span>

        <div class="license-category-info">
            <p class="license-category-price">Стоимость комиссии: <span>от <span class="inner">2 500</span> руб.</span></p>
            <p class="license-category-time">Время оформления: <span>от <span class="inner">30</span> мин</span></p>

            <div class="license-category-list">
                <h2>Необходимые документы</h2>
                <ul>
                    <li>Паспорт</li>
                    <li>Военный билет</li>
                </ul>
            </div>

            <div class="license-category-list">
                <h2>Каких специалистов нужно пройти</h2>
                <ul>
                    <li>Психиатра</li>
                    <li>Нарколога</li>
                    <li>Окулиста</li>
                    <li>Терапевта</li>
                </ul>
            </div>
        </div>

        <div class="centers-middle">
            <form>
                <h3>Выберите время приема для записи онлайн:</h3>

                <div class="centers-middle-block">
                    <div class="centers-middle-inner">
                        <span class="active">09:00</span>
                        <span>10:00</span>
                        <span>12:00</span>
                        <span>13:00</span>
                        <span>14:00</span>
                        <span>15:00</span>
                        <span>16:00</span>
                        <span>17:00</span>
                        <span>18:00</span>
                        <span>19:00</span>
                    </div>
                </div>

                <select>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                </select>

                <label aria-label="Ваш телефон">
                    <input class="centers-input" type="text" placeholder="Ваш телефон">
                </label>

                <div class="radio-block">
                    <h3>Справка от нарколога и психиатра:</h3>

                    <label>
                        <input type="radio" name="license" value="yes" checked>
                        <span>Есть</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="no">
                        <span>Нет</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="make from us">
                        <span>Сделать у нас</span>
                    </label>
                </div>

                <button class="centers-submit" type="submit">Записаться на комиссию</button>
            </form>
        </div>

    </div>
</section>

<div class="select-center select-center_inner">
    <h2 class="main-title">Выберите проверенный медицинский центр</h2>

    <div class="main-slider-block select-center-block">
        <div class="swiper-container main-slider select-center-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="select-center-item select-center-item_one">
                        <span class="time">с 9:00 до 21:00</span>
                        <a href="#">Севастопольская, САО</a>
                        <span class="street">г. Москва, ул. Малая Юшуньская</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="select-center-item select-center-item_two">
                        <span class="time">с 9:30 до 21:00</span>
                        <a href="#">Марьино, ЮАО</a>
                        <span class="street">г. Москва, Луговой проезд</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="select-center-item select-center-item_three">
                        <span class="time">с 10:00 до 20:00</span>
                        <a href="#">Юго-Западная, СВАО</a>
                        <span class="street">г. Москва, Академика Анохина</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="select-center-item select-center-item_four">
                        <span class="time">с 10:00 до 20:00</span>
                        <a href="#">Семеновская, ЗАО</a>
                        <span class="street">г. Москва, Малая Семеновская</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="select-center-item select-center-item_five">
                        <span class="time">с 10:00 до 20:00</span>
                        <a href="#">Котельники, ВАО</a>
                        <span class="street">г. Москва, 2-й Покровский пр-д</span>
                    </div>
                </div>



            </div>
        </div>


        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</div>

<div class="centers">

    <div class="centers-item">
        <div class="centers-left">
            <span class="centers-left-img"><img src="img/map.jpg" alt="Карта"></span>

            <div class="center-left-inner">
                <h2 class="main-title"><a href="#">Медицинский центр на Севастопольской</a></h2>

                <div class="my-star-rating__group">
                    <input class="my-star-rating__input" id="health-1" type="radio" name="health" value="1">
                    <label class="my-star-rating__star" for="health-1" aria-label="Ужасно"></label>

                    <input class="my-star-rating__input" id="health-2" type="radio" name="health" value="2">
                    <label class="my-star-rating__star" for="health-2" aria-label="Сносно"></label>

                    <input class="my-star-rating__input" id="health-3" type="radio" name="health" value="3">
                    <label class="my-star-rating__star" for="health-3" aria-label="Нормально"></label>

                    <input class="my-star-rating__input" id="health-4" type="radio" name="health" value="4" checked>
                    <label class="my-star-rating__star" for="health-4" aria-label="Хорошо"></label>

                    <input class="my-star-rating__input" id="health-5" type="radio" name="health" value="5">
                    <label class="my-star-rating__star" for="health-5" aria-label="Отлично"></label>

                    <div class="my-star-rating___focus"></div>
                </div>

                <p class="time">До закрытия осталось: <span>2 ч 30 мин</span></p>

                <p class="street">г. Москва, ВАО, ул. Малая Юшуньская</p>

                <p class="metro"><a href="#">Севастопольская</a> <span>900 м</span></p>

                <p class="testimonials"><span>Отзывы о клинике</span> <span>7.5</span></p>

                <p class="expirience"><span>Опыт врачей</span> <span>8.5</span></p>

                <a class="phone" href="tel:84951169387">8 (495) 116-93-87</a>
            </div>
        </div>

        <div class="centers-middle centers-middle-one">
            <form>
                <h3>Выберите время приема для записи онлайн:</h3>

                <div class="centers-middle-block">
                    <div class="centers-middle-inner">
                        <span class="active">09:00</span>
                        <span>10:00</span>
                        <span>12:00</span>
                        <span>13:00</span>
                        <span>14:00</span>
                        <span>15:00</span>
                        <span>16:00</span>
                        <span>17:00</span>
                        <span>18:00</span>
                        <span>19:00</span>
                    </div>
                </div>

                <select>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                </select>

                <label aria-label="Ваш телефон">
                    <input class="centers-input" type="text" placeholder="Ваш телефон">
                </label>

                <div class="radio-block">
                    <h3>Справка от нарколога и психиатра:</h3>

                    <label>
                        <input type="radio" name="license" value="yes" checked>
                        <span>Есть</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="no">
                        <span>Нет</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="make from us">
                        <span>Сделать у нас</span>
                    </label>
                </div>

                <button class="centers-submit" type="submit">Записаться на комиссию</button>
            </form>
        </div>

        <div class="centers-right">
            <table>
                <tr>
                    <th>Услуги</th> <th>Сроки получени</th> <th>Цена</th> <th>Документы</th>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории А, В 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">1 400 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории А, В + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">2 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">2 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">3 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span>
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <div class="centers-item centers-item_hide">
        <div class="centers-left">
            <span class="centers-left-img"><img src="img/map.jpg" alt="Карта"></span>

            <div class="center-left-inner">
                <h2 class="main-title"><a href="#">Медицинский центр на Севастопольской</a></h2>

                <div class="my-star-rating__group">
                    <input class="my-star-rating__input" id="health-1" type="radio" name="health" value="1">
                    <label class="my-star-rating__star" for="health-1" aria-label="Ужасно"></label>

                    <input class="my-star-rating__input" id="health-2" type="radio" name="health" value="2">
                    <label class="my-star-rating__star" for="health-2" aria-label="Сносно"></label>

                    <input class="my-star-rating__input" id="health-3" type="radio" name="health" value="3">
                    <label class="my-star-rating__star" for="health-3" aria-label="Нормально"></label>

                    <input class="my-star-rating__input" id="health-4" type="radio" name="health" value="4" checked>
                    <label class="my-star-rating__star" for="health-4" aria-label="Хорошо"></label>

                    <input class="my-star-rating__input" id="health-5" type="radio" name="health" value="5">
                    <label class="my-star-rating__star" for="health-5" aria-label="Отлично"></label>

                    <div class="my-star-rating___focus"></div>
                </div>

                <p class="time">До закрытия осталось: <span>2 ч 30 мин</span></p>

                <p class="street">г. Москва, ВАО, ул. Малая Юшуньская</p>

                <p class="metro"><a href="#">Севастопольская</a> <span>900 м</span></p>

                <p class="testimonials"><span>Отзывы о клинике</span> <span>7.5</span></p>

                <p class="expirience"><span>Опыт врачей</span> <span>8.5</span></p>

                <a class="phone" href="tel:84951169387">8 (495) 116-93-87</a>
            </div>
        </div>

        <div class="centers-middle centers-middle-one">
            <form>
                <h3>Выберите время приема для записи онлайн:</h3>

                <div class="centers-middle-block">
                    <div class="centers-middle-inner">
                        <span class="active">09:00</span>
                        <span>10:00</span>
                        <span>12:00</span>
                        <span>13:00</span>
                        <span>14:00</span>
                        <span>15:00</span>
                        <span>16:00</span>
                        <span>17:00</span>
                        <span>18:00</span>
                        <span>19:00</span>
                    </div>
                </div>

                <select>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                </select>

                <label aria-label="Ваш телефон">
                    <input class="centers-input" type="text" placeholder="Ваш телефон">
                </label>

                <div class="radio-block">
                    <h3>Справка от нарколога и психиатра:</h3>

                    <label>
                        <input type="radio" name="license" value="yes" checked>
                        <span>Есть</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="no">
                        <span>Нет</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="make from us">
                        <span>Сделать у нас</span>
                    </label>
                </div>

                <button class="centers-submit" type="submit">Записаться на комиссию</button>
            </form>
        </div>

        <div class="centers-right">
            <table>
                <tr>
                    <th>Услуги</th> <th>Сроки получени</th> <th>Цена</th> <th>Документы</th>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории А, В 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">1 400 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории А, В + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">2 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">2 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">3 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span>
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <div class="centers-item centers-item_hide">
        <div class="centers-left">
            <span class="centers-left-img"><img src="img/map.jpg" alt="Карта"></span>

            <div class="center-left-inner">
                <h2 class="main-title"><a href="#">Медицинский центр на Севастопольской</a></h2>

                <div class="my-star-rating__group">
                    <input class="my-star-rating__input" id="health-1" type="radio" name="health" value="1">
                    <label class="my-star-rating__star" for="health-1" aria-label="Ужасно"></label>

                    <input class="my-star-rating__input" id="health-2" type="radio" name="health" value="2">
                    <label class="my-star-rating__star" for="health-2" aria-label="Сносно"></label>

                    <input class="my-star-rating__input" id="health-3" type="radio" name="health" value="3">
                    <label class="my-star-rating__star" for="health-3" aria-label="Нормально"></label>

                    <input class="my-star-rating__input" id="health-4" type="radio" name="health" value="4" checked>
                    <label class="my-star-rating__star" for="health-4" aria-label="Хорошо"></label>

                    <input class="my-star-rating__input" id="health-5" type="radio" name="health" value="5">
                    <label class="my-star-rating__star" for="health-5" aria-label="Отлично"></label>

                    <div class="my-star-rating___focus"></div>
                </div>

                <p class="time">До закрытия осталось: <span>2 ч 30 мин</span></p>

                <p class="street">г. Москва, ВАО, ул. Малая Юшуньская</p>

                <p class="metro"><a href="#">Севастопольская</a> <span>900 м</span></p>

                <p class="testimonials"><span>Отзывы о клинике</span> <span>7.5</span></p>

                <p class="expirience"><span>Опыт врачей</span> <span>8.5</span></p>

                <a class="phone" href="tel:84951169387">8 (495) 116-93-87</a>
            </div>
        </div>

        <div class="centers-middle centers-middle-one">
            <form>
                <h3>Выберите время приема для записи онлайн:</h3>

                <div class="centers-middle-block">
                    <div class="centers-middle-inner">
                        <span class="active">09:00</span>
                        <span>10:00</span>
                        <span>12:00</span>
                        <span>13:00</span>
                        <span>14:00</span>
                        <span>15:00</span>
                        <span>16:00</span>
                        <span>17:00</span>
                        <span>18:00</span>
                        <span>19:00</span>
                    </div>
                </div>

                <select>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                </select>

                <label aria-label="Ваш телефон">
                    <input class="centers-input" type="text" placeholder="Ваш телефон">
                </label>

                <div class="radio-block">
                    <h3>Справка от нарколога и психиатра:</h3>

                    <label>
                        <input type="radio" name="license" value="yes" checked>
                        <span>Есть</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="no">
                        <span>Нет</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="make from us">
                        <span>Сделать у нас</span>
                    </label>
                </div>

                <button class="centers-submit" type="submit">Записаться на комиссию</button>
            </form>
        </div>

        <div class="centers-right">
            <table>
                <tr>
                    <th>Услуги</th> <th>Сроки получени</th> <th>Цена</th> <th>Документы</th>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории А, В 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">1 400 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории А, В + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">2 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">2 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">3 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span>
                    </td>
                </tr>

            </table>
        </div>

    </div>

    <div class="centers-item centers-item_hide">
        <div class="centers-left">
            <span class="centers-left-img"><img src="img/map.jpg" alt="Карта"></span>

            <div class="center-left-inner">
                <h2 class="main-title"><a href="#">Медицинский центр на Севастопольской</a></h2>

                <div class="my-star-rating__group">
                    <input class="my-star-rating__input" id="health-1" type="radio" name="health" value="1">
                    <label class="my-star-rating__star" for="health-1" aria-label="Ужасно"></label>

                    <input class="my-star-rating__input" id="health-2" type="radio" name="health" value="2">
                    <label class="my-star-rating__star" for="health-2" aria-label="Сносно"></label>

                    <input class="my-star-rating__input" id="health-3" type="radio" name="health" value="3">
                    <label class="my-star-rating__star" for="health-3" aria-label="Нормально"></label>

                    <input class="my-star-rating__input" id="health-4" type="radio" name="health" value="4" checked>
                    <label class="my-star-rating__star" for="health-4" aria-label="Хорошо"></label>

                    <input class="my-star-rating__input" id="health-5" type="radio" name="health" value="5">
                    <label class="my-star-rating__star" for="health-5" aria-label="Отлично"></label>

                    <div class="my-star-rating___focus"></div>
                </div>

                <p class="time">До закрытия осталось: <span>2 ч 30 мин</span></p>

                <p class="street">г. Москва, ВАО, ул. Малая Юшуньская</p>

                <p class="metro"><a href="#">Севастопольская</a> <span>900 м</span></p>

                <p class="testimonials"><span>Отзывы о клинике</span> <span>7.5</span></p>

                <p class="expirience"><span>Опыт врачей</span> <span>8.5</span></p>

                <a class="phone" href="tel:84951169387">8 (495) 116-93-87</a>
            </div>
        </div>

        <div class="centers-middle centers-middle-one">
            <form>
                <h3>Выберите время приема для записи онлайн:</h3>

                <div class="centers-middle-block">
                    <div class="centers-middle-inner">
                        <span class="active">09:00</span>
                        <span>10:00</span>
                        <span>12:00</span>
                        <span>13:00</span>
                        <span>14:00</span>
                        <span>15:00</span>
                        <span>16:00</span>
                        <span>17:00</span>
                        <span>18:00</span>
                        <span>19:00</span>
                    </div>
                </div>

                <select>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                    <option value="Справка для категорий А, А1, B, B1, M, BE (003-в/y)">Справка для категорий А, А1, B, B1, M, BE (003-в/y)</option>
                </select>

                <label aria-label="Ваш телефон">
                    <input class="centers-input" type="text" placeholder="Ваш телефон">
                </label>

                <div class="radio-block">
                    <h3>Справка от нарколога и психиатра:</h3>

                    <label>
                        <input type="radio" name="license" value="yes" checked>
                        <span>Есть</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="no">
                        <span>Нет</span>
                    </label>

                    <label>
                        <input type="radio" name="license" value="make from us">
                        <span>Сделать у нас</span>
                    </label>
                </div>

                <button class="centers-submit" type="submit">Записаться на комиссию</button>
            </form>
        </div>

        <div class="centers-right">
            <table>
                <tr>
                    <th>Услуги</th> <th>Сроки получени</th> <th>Цена</th> <th>Документы</th>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории А, В 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">1 400 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории А, В + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">2 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">2 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span></td>
                </tr>

                <tr>
                    <td class="first"><a href="#">Справка для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н</a></td>
                    <td class="content"><span class="subtitle">Сроки получения</span><span class="min">30 мин</span></td>
                    <td class="content"><span class="subtitle">Цена</span><span class="price">3 800 руб</span></td>
                    <td class="content"><span class="subtitle">Документы</span><span class="info">?</span><span class="hint">Паспорт, заключение нарколога, психиатра с диспансера по месту жительства</span>
                    </td>
                </tr>

            </table>
        </div>

    </div>


</div>

<section class="new-form">

    <h2 class="main-title">Все справки в одном месте</h2>

    <div class="main-slider-block new-form-block">
        <div class="swiper-container main-slider new-form-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="new-form-item">
                        <div class="new-form__up">
                            <span class="number">A</span>
                            <span class="price">от 2 500 руб.</span>
                            <span class="number">B</span>
                        </div>
                        <div class="new-form__img">
                            <img src="img/bike-1.png" alt="Байк">
                            <img src="img/automobile-1.png" alt="Автомобиль">
                        </div>
                        <p class="description">Справка для категорий А, <br> А1, В, В1, М, ВЕ (003-в/у)</p>

                        <a class="btn" href="#">Записаться на комиссиию</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="new-form-item">
                        <div class="new-form__up">
                            <span class="number">C</span>
                            <span class="price">от 3 200 руб.</span>
                            <span class="number">D</span>
                        </div>

                        <div class="new-form__img">
                            <img src="img/truck-1.png" alt="Грузовик">
                            <img src="img/bus-1.png" alt="Автобус">
                        </div>

                        <p class="description">Справка для категорий С, С1, D, D1, <br> CE, C1E, D1E, DE, Tm, Tb (003-в/у)</p>

                        <a class="btn" href="#">Записаться на комиссиию</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="new-form-item">
                        <div class="new-form__up_margin">
                            <span class="price">от 2 500 руб.</span>
                        </div>
                        <div>
                            <img src="img/global-1.png" alt="Земля">
                            <img class="car" src="img/car-1.png" alt="Автомобиль">
                        </div>
                        <p class="description">Справка для международных <br> водительских прав</p>

                        <a class="btn" href="#">Записаться на комиссиию</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="new-form-item">
                        <div class="new-form__up_margin new-form__up_margin2">
                            <span class="price">от 2 500 руб.</span>
                        </div>
                        <div class="new-form__img">
                            <img src="img/farm-1.png" alt="Трактор">
                            <img src="img/work-1.png" alt="Экскаватор">
                        </div>
                        <p class="description">Справка для погрузчиков и <br> тракторов</p>

                        <a class="btn" href="#">Записаться на комиссиию</a>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="new-form-item">
                        <div class="new-form__up_margin">
                            <span class="price">от 800 руб.</span>
                        </div>
                        <div>
                            <img src="img/brain.png" alt="Мозг">
                        </div>
                        <p class="description">ЭЭГ (электроэнцефалограмма <br>   головного мозга) в ГИБДД</p>

                        <a class="btn" href="#">Записаться на комиссиию</a>
                    </div>
                </div>


            </div>
        </div>


        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>


</section>

<section class="place">
    <h2 class="main-title">Наши преимущества</h2>

    <ul>
        <li>
            <p>Запись на комиссию <br> в 18 клиник Москвы</p>
        </li>
        <li>
            <p>Все медсправки и <br> услуги в одном месте</p>
        </li>
        <li>
            <p>Быстрая онлайн запись <br> на удобное время</p>
        </li>
        <li>
            <p>Низкие цены в <br> проверенных клиниках</p>
        </li>
    </ul>
</section>

<section class="license">
    <h2 class="main-title">Наши лицензии</h2>

    <div class="main-slider-block license-block">
        <div class="swiper-container main-slider license-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-1.jpg" alt="Лицензия">
                    </p>
                </div>

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-2.jpg" alt="Лицензия">
                    </p>
                </div>

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-2.jpg" alt="Лицензия">
                    </p>
                </div>

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-3.jpg" alt="Лицензия">
                    </p>
                </div>

                <div class="swiper-slide">
                    <p class="license-item">
                        <img src="img/license-4.jpg" alt="Лицензия">
                    </p>
                </div>

            </div>
        </div>


        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>

    </div>
</section>

<section class="form">
    <div class="form-inner">
        <span class="form-img">
            <img src="img/humans.png" alt="Врач и пациент">
        </span>
        <form>
            <h2>
                <span>Онлайн запись</span>
                <span>Отправьте заявку - нужная справка через 30 минут!</span>
            </h2>

            <div class="form-top">
                <select>
                    <option selected disabled>Какая опция вас интересует</option>
                    <option value="опция1">Опция 1</option>
                    <option value="опция2">Опция 2</option>
                    <option value="опция3">Опция 3</option>
                </select>

                <label aria-label="Ваше имя">
                    <input class="form__input" type="text" placeholder="Ваше имя">
                </label>

                <label aria-label="Ваш телефон">
                    <input class="form__input form__input_last" type="text" placeholder="Ваш телефон">
                </label>
            </div>

            <label aria-label="Комментарий">
                <textarea class="form__textarea" placeholder="Комментарий..."></textarea>
            </label>

            <div class="form-bottom">
                <button class="form__submit" type="submit">Записаться на комиссию</button>

                <p>Нажимая на кнопку «Записаться на комиссию», вы принимаете условия передачи и <a href="#">обработки информации</a></p>
            </div>
        </form>
    </div>
</section>