<header class="header">
    <div class="header-top">
        <button class="burger" type="button">Меню</button>

        <div class="header__logo-block">
            <a class="logo" href="/">
            <span class="logo__img">
                <img src="img/union-top.png" alt="Логотип 'Медсправки для водителей'">
            </span>
                <p class="logo__name">Медсправки <span>для водителей</span></p>
            </a>
            <p class="header__work">Работаем для вас с 1998 г</p>
        </div>

        <a class="header__call" href="tel:84951169383">Позвонить</a>
    </div>

    <div class="header-bottom">
        <div class="header-bottom__inner">
            <div class="call-center">
                <a class="call-center__number" href="tel:84951169383">8 (495) 116-93-87</a>
                <span>Единый колл-центр</span>
                <a class="call-center__order" href="#">Заказать звонок</a>
            </div>

            <div class="header__nav-block">
                <span class="header__branches header__branches_hide"><a href="#">18 филиалов</a></span>

                <nav class="main-nav">
                    <ul>
                        <li>
                            <a href="#">О компании</a>
                        </li>
                        <li>
                            <a href="#">Лицензии</a>
                        </li>
                        <li>
                            <a href="#">Наши услуги</a>
                        </li>
                        <li>
                            <a href="#">Цены</a>
                        </li>
                        <li>
                            <a href="#">Контакты</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="header__license header__license_up">
                <span><img src="img/gerb.png" alt="Герб"></span>
                <span>Лицензия департамента <br> здравоохранения города Москвы</span>
            </div>

            <ul class="header-list">
                <li>
                    <a href="#">Медсправки</a>
                </li>
                <li>
                    <a href="#">Медкнижки</a>
                </li>
                <li>
                    <a href="#">Профосмотры</a>
                </li>
                <li>
                    <a href="#">Выездные медкомиссии</a>
                </li>
                <li>
                    <a href="#">Тест на короновирус</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bottom-license">
        <span class="header__branches"><a href="#">18 филиалов</a></span>

        <div class="header__license header__license_bottom">
            <span><img src="img/gerb.png" alt="Герб"></span>
            <span>Лицензия департамента <br> здравоохранения города Москвы</span>
        </div>
    </div>
</header>
