main
	span.branches #[a(href="#") Адреса филиалов в Москве и МО #[img(src="img/gps.png")]] 

	//- BREADCRUMBS
	ul.breadcrumbs
		li.breadcrumbs__item.breadcrumbs__item_current #[a Популярные медсправки]
		li.breadcrumbs__item #[a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)]
		li.breadcrumbs__item #[a(href="#") Справка в ФМС для РВП / ВНЖ / разрешения на работу]
		li.breadcrumbs__item #[a(href="#") Медицинская справка для госслужбы 001-ГС/у]

	//- CART
	section.cart
		img.bg-cart(src="img/Intersect.png")

		.cart-slider.swiper-container
			.swiper-wrapper

				.swiper-slide
					.cart-slider-item
						.cart-slider-column
							a.cart-need(href="#") Включая нарколога и психиатра
							span.cart-slider__car #[img(src="img/car.png")]

						.cart-slider-column
							div.cart-inner
								p.cart-mark-block
									span.cart-slider-mark__img #[img(src="img/mark.png")]
									span.cart-slider-mark__description Лицензия департамента здравоохранения города Москвы
								
								h2 Справка 003-В/у с наркологом и психиатром (для ГИБДД

								p.cart-inner__description Для получения водительских прав категории А1, В, В1, ВЕ, М

								span.cart-price от 2 500 руб.

								a.btn.cart-button(href="#") Оформить справку
							
							div.cart-inner
								span.description ДЛЯ ГИБДД
								span.img #[img(src="img/logo-big.png")]
			
				.swiper-slide
					.cart-slider-item.cart-slider-item_truck
						.cart-slider-column.cart-slider-column_truck
							a.cart-need(href="#") Включая нарколога и психиатра
							span.cart-slider__car.cart-slider__car_truck #[img(src="img/truck.png")]

						.cart-slider-column
							div.cart-inner
								p.cart-mark-block
									span.cart-slider-mark__img #[img(src="img/mark.png")]
									span.cart-slider-mark__description Лицензия департамента здравоохранения города Москвы
								
								h2 Справка 003-В/у с наркологом и психиатром (для ГИБДД

								p.cart-inner__description Для получения водительских прав категории C, C1, D, D1, CE, C1E, DE, D1E

								span.cart-price от 2 800 руб.

								a.btn.cart-button(href="#") Оформить справку
							
							div.cart-inner
								span.description ДЛЯ ГИБДД
								span.img #[img(src="img/logo-big.png")]
				
				.swiper-slide
					.cart-slider-item
						.cart-slider-column
							a.cart-need(href="#") Включая нарколога и психиатра
							span.cart-slider__car #[img(src="img/car.png")]

						.cart-slider-column
							div.cart-inner
								p.cart-mark-block
									span.cart-slider-mark__img #[img(src="img/mark.png")]
									span.cart-slider-mark__description Лицензия департамента здравоохранения города Москвы
								
								h2 Справка 003-В/у с наркологом и психиатром (для ГИБДД

								p.cart-inner__description Для получения водительских прав категории А1, В, В1, ВЕ, М

								span.cart-price от 2 500 руб.

								a.btn.cart-button(href="#") Оформить справку
							
							div.cart-inner
								span.description ДЛЯ ГИБДД
								span.img #[img(src="img/logo-big.png")]

			.swiper-button-block
				.swiper-button-prev #[img(src="img/arrow-prev.png")]
				.swiper-button-next #[img(src="img/arrow-next.png")]


		.swiper-pagination

	//- INFO
	.info
		.container
			h2.main-title Справка 003-В/у для замены водительских прав 

			p Сеть медицинских центров, в которых Вы можете оформить официальные медицинские документы (медкнижки, справки для работы или учебы, справки в ГИБДД, ФМС и др.).#[a(href="#").button-text .. #[span далее]] #[span.hide-text К нам обращаются, чтобы сэкономить время на очередях и получить заключение максимально быстро. Все наши филиалы в Москве и Московской области имеют необходимые государственные лицензии. Документы, которые выдают в клиниках, на 100% соответствуют требованиям законодательства РФ.]

	//- ORDER
	section.order
		h2.main-title Оформить справку 003-В/у с наркологом и психиатром (для ГИБДД)

		.order-container
			
			.order-item 
				.order-slider.swiper-container
					.swiper-wrapper

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
						
						.swiper-slide 
							span #[img(src="img/order-1.jpg")]

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
							

					.swiper-button-prev #[img(src="img/arrow-prev-white.png")]
					.swiper-button-next #[img(src="img/arrow-next-white.png")]
					.swiper-pagination

				.order-inner
					.order-column-top
						h3 Медицинский центр на ул. Братиславская

						.place
							p #[img(src="img/pin.png")] Москва, ул. Братиславская, 33
							p #[img(src="img/clock.png")] Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
							p #[img(src="img/subway.png")] #[span Братиславская] #[span 300 м]
					
					table
						tr
							th Наименование
							th.hide Цена

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.
					
					a.btn Оформить справку

					.order-column-bottom
						.call
							img(src="img/local_phone.png")
							a(href="tel:+74957206037") +7 (495) 720-60-37
							p Телефон для записи на прием

			.order-item 
				.order-slider.swiper-container
					.swiper-wrapper

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
						
						.swiper-slide 
							span #[img(src="img/order-1.jpg")]

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
							

					.swiper-button-prev #[img(src="img/arrow-prev-white.png")]
					.swiper-button-next #[img(src="img/arrow-next-white.png")]
					.swiper-pagination

				.order-inner
					.order-column-top
						h3 Медицинский центр на ул. Братиславская

						.place
							p #[img(src="img/pin.png")] Москва, ул. Братиславская, 33
							p #[img(src="img/clock.png")] Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
							p #[img(src="img/subway.png")] #[span Братиславская] #[span 300 м]
					
					table
						tr
							th Наименование
							th.hide Цена

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.
					
					a.btn Оформить справку

					.order-column-bottom
						.call
							img(src="img/local_phone.png")
							a(href="tel:+74957206037") +7 (495) 720-60-37
							p Телефон для записи на прием
					
			.order-item 
				.order-slider.swiper-container
					.swiper-wrapper

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
						
						.swiper-slide 
							span #[img(src="img/order-1.jpg")]

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
							

					.swiper-button-prev #[img(src="img/arrow-prev-white.png")]
					.swiper-button-next #[img(src="img/arrow-next-white.png")]
					.swiper-pagination

				.order-inner
					.order-column-top
						h3 Медицинский центр на ул. Братиславская

						.place
							p #[img(src="img/pin.png")] Москва, ул. Братиславская, 33
							p #[img(src="img/clock.png")] Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
							p #[img(src="img/subway.png")] #[span Братиславская] #[span 300 м]
					
					table
						tr
							th Наименование
							th.hide Цена

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.
					
					a.btn Оформить справку

					.order-column-bottom
						.call
							img(src="img/local_phone.png")
							a(href="tel:+74957206037") +7 (495) 720-60-37
							p Телефон для записи на прием

			.order-item 
				.order-slider.swiper-container
					.swiper-wrapper

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
						
						.swiper-slide 
							span #[img(src="img/order-1.jpg")]

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
							

					.swiper-button-prev #[img(src="img/arrow-prev-white.png")]
					.swiper-button-next #[img(src="img/arrow-next-white.png")]
					.swiper-pagination

				.order-inner
					.order-column-top
						h3 Медицинский центр на ул. Братиславская

						.place
							p #[img(src="img/pin.png")] Москва, ул. Братиславская, 33
							p #[img(src="img/clock.png")] Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
							p #[img(src="img/subway.png")] #[span Братиславская] #[span 300 м]
					
					table
						tr
							th Наименование
							th.hide Цена

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.
					
					a.btn Оформить справку

					.order-column-bottom
						.call
							img(src="img/local_phone.png")
							a(href="tel:+74957206037") +7 (495) 720-60-37
							p Телефон для записи на прием
			
			.order-item.hide
				.order-slider.swiper-container
					.swiper-wrapper

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
						
						.swiper-slide 
							span #[img(src="img/order-1.jpg")]

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
							

					.swiper-button-prev #[img(src="img/arrow-prev-white.png")]
					.swiper-button-next #[img(src="img/arrow-next-white.png")]
					.swiper-pagination

				.order-inner
					.order-column-top
						h3 Медицинский центр на ул. Братиславская

						.place
							p #[img(src="img/pin.png")] Москва, ул. Братиславская, 33
							p #[img(src="img/clock.png")] Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
							p #[img(src="img/subway.png")] #[span Братиславская] #[span 300 м]
					
					table
						tr
							th Наименование
							th.hide Цена

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.
					
					a.btn Оформить справку

					.order-column-bottom
						.call
							img(src="img/local_phone.png")
							a(href="tel:+74957206037") +7 (495) 720-60-37
							p Телефон для записи на прием
			
			.order-item.hide
				.order-slider.swiper-container
					.swiper-wrapper

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
						
						.swiper-slide 
							span #[img(src="img/order-1.jpg")]

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
							

					.swiper-button-prev #[img(src="img/arrow-prev-white.png")]
					.swiper-button-next #[img(src="img/arrow-next-white.png")]
					.swiper-pagination

				.order-inner
					.order-column-top
						h3 Медицинский центр на ул. Братиславская

						.place
							p #[img(src="img/pin.png")] Москва, ул. Братиславская, 33
							p #[img(src="img/clock.png")] Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
							p #[img(src="img/subway.png")] #[span Братиславская] #[span 300 м]
					
					table
						tr
							th Наименование
							th.hide Цена

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.
					
					a.btn Оформить справку

					.order-column-bottom
						.call
							img(src="img/local_phone.png")
							a(href="tel:+74957206037") +7 (495) 720-60-37
							p Телефон для записи на прием
			
			.order-item.hide
				.order-slider.swiper-container
					.swiper-wrapper

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
						
						.swiper-slide 
							span #[img(src="img/order-1.jpg")]

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
							

					.swiper-button-prev #[img(src="img/arrow-prev-white.png")]
					.swiper-button-next #[img(src="img/arrow-next-white.png")]
					.swiper-pagination

				.order-inner
					.order-column-top
						h3 Медицинский центр на ул. Братиславская

						.place
							p #[img(src="img/pin.png")] Москва, ул. Братиславская, 33
							p #[img(src="img/clock.png")] Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
							p #[img(src="img/subway.png")] #[span Братиславская] #[span 300 м]
					
					table
						tr
							th Наименование
							th.hide Цена

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.
					
					a.btn Оформить справку

					.order-column-bottom
						.call
							img(src="img/local_phone.png")
							a(href="tel:+74957206037") +7 (495) 720-60-37
							p Телефон для записи на прием

			
			.order-item.hide
				.order-slider.swiper-container
					.swiper-wrapper

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
						
						.swiper-slide 
							span #[img(src="img/order-1.jpg")]

						.swiper-slide 
							span #[img(src="img/order-1.jpg")]
							

					.swiper-button-prev #[img(src="img/arrow-prev-white.png")]
					.swiper-button-next #[img(src="img/arrow-next-white.png")]
					.swiper-pagination

				.order-inner
					.order-column-top
						h3 Медицинский центр на ул. Братиславская

						.place
							p #[img(src="img/pin.png")] Москва, ул. Братиславская, 33
							p #[img(src="img/clock.png")] Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
							p #[img(src="img/subway.png")] #[span Братиславская] #[span 300 м]
					
					table
						tr
							th Наименование
							th.hide Цена

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.

						tr
							td Справка для ГИБДД (форма 003-В/у) для категории C, D
							td.price 2 500 руб.
					
					a.btn Оформить справку

					.order-column-bottom
						.call
							img(src="img/local_phone.png")
							a(href="tel:+74957206037") +7 (495) 720-60-37
							p Телефон для записи на прием

	//- ADVANTAGES
	section.advantages
		h2.main-title Преимущества

		.container

			.advantages-slider.swiper-container
				.swiper-wrapper

					.swiper-slide
						.advantages-item
							span #[img(src="img/advantages-1.png")]
							p 25 филиалов #[br] рядом с метро
					
					.swiper-slide
						.advantages-item
							span #[img(src="img/advantages-2.png")]
							p Все специалисты в#[br] одном месте
					
					.swiper-slide
						.advantages-item
							span #[img(src="img/advantages-3.png")]
							p Лицензии на все#[br] виды услуг

					.swiper-slide
						.advantages-item
							span #[img(src="img/advantages-4.png")]
							p Любые виды#[br] медицинских справок

			.swiper-button-prev #[img(src="img/arrow-prev.png")]
			.swiper-button-next #[img(src="img/arrow-next.png")]

	//- OUR-CENTERS
	section.our-centers
		h2.main-title Услуги наших медицинских центров

		.tab-top
			.tab-list
				a(href="#tab1") Медицинские справки
				a(href="#tab2") Профосмотры
				a(href="#tab3") Диагностика
				a(href="#tab4") Тест на COVID-19

		.tab-bottom
			.tab-bottom__item#tab1

				.our-centers-block
					.our-centers-slider.swiper-container
						.swiper-wrapper

							.swiper-slide
								.our-centers-item
									span.our-centers__img #[img(src="img/our-centers-1.jpg")]

									.our-centers-description
										h3 Справка для ГИБДД (форма 003-В/у) для категории А, В

										.our-centers-inner
											.our-centers-column
												p.time #[span Время оформления:] #[span #[img(src="img/clock.png")] 20 - 30 мин]
												p.price Цена медкомиссии: #[span от 1 200 руб.]

											a.btn Оформить справку

											.call
												img(src="img/local_phone.png")
												span +7 (495) 720-60-37 
												p Телефон для записи на прием

							
							.swiper-slide
								.our-centers-item
									span.our-centers__img #[img(src="img/our-centers-2.jpg")]

									.our-centers-description
										h3 Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр

										.our-centers-inner
											.our-centers-column
												p.time #[span Время оформления:] #[span #[img(src="img/clock.png")] 20 - 30 мин]
												p.price Цена медкомиссии: #[span от 2 500 руб.]

											a.btn Оформить справку

											.call
												img(src="img/local_phone.png")
												span +7 (495) 720-60-37 
												p Телефон для записи на прием

					.swiper-button-prev #[img(src="img/arrow-prev.png")]
					.swiper-button-next #[img(src="img/arrow-next.png")]
					.swiper-pagination

			.tab-bottom__item#tab2
				.our-centers-block
					.our-centers-slider.swiper-container
						.swiper-wrapper

							.swiper-slide
								.our-centers-item
									span.our-centers__img #[img(src="img/our-centers-1.jpg")]

									.our-centers-description
										h3 Справка для ГИБДД (форма 003-В/у) для категории А, В

										.our-centers-inner
											.our-centers-column
												p.time #[span Время оформления:] #[span #[img(src="img/clock.png")] 20 - 30 мин]
												p.price Цена медкомиссии: #[span от 1 200 руб.]

											a.btn Оформить справку

											.call
												img(src="img/local_phone.png")
												span +7 (495) 720-60-37 
												p Телефон для записи на прием
							
							.swiper-slide
								.our-centers-item
									span.our-centers__img #[img(src="img/our-centers-1.jpg")]

									.our-centers-description
										h3 Справка для ГИБДД (форма 003-В/у) для категории А, В

										.our-centers-inner
											.our-centers-column
												p.time #[span Время оформления:] #[span #[img(src="img/clock.png")] 20 - 30 мин]
												p.price Цена медкомиссии: #[span от 1 200 руб.]

											a.btn Оформить справку

											.call
												img(src="img/local_phone.png")
												span +7 (495) 720-60-37 
												p Телефон для записи на прием

					.swiper-button-prev #[img(src="img/arrow-prev.png")]
					.swiper-button-next #[img(src="img/arrow-next.png")]
					.swiper-pagination
			
			.tab-bottom__item#tab3
				.our-centers-block
					.our-centers-slider.swiper-container
						.swiper-wrapper

							.swiper-slide
								.our-centers-item
									span.our-centers__img #[img(src="img/our-centers-1.jpg")]

									.our-centers-description
										h3 Справка для ГИБДД (форма 003-В/у) для категории А, В

										.our-centers-inner
											.our-centers-column
												p.time #[span Время оформления:] #[span #[img(src="img/clock.png")] 20 - 30 мин]
												p.price Цена медкомиссии: #[span от 1 200 руб.]

											a.btn Оформить справку

											.call
												img(src="img/local_phone.png")
												span +7 (495) 720-60-37 
												p Телефон для записи на прием

							
							.swiper-slide
								.our-centers-item
									span.our-centers__img #[img(src="img/our-centers-1.jpg")]

									.our-centers-description
										h3 Справка для ГИБДД (форма 003-В/у) для категории А, В

										.our-centers-inner
											.our-centers-column
												p.time #[span Время оформления:] #[span #[img(src="img/clock.png")] 20 - 30 мин]
												p.price Цена медкомиссии: #[span от 1 200 руб.]

											a.btn Оформить справку

											.call
												img(src="img/local_phone.png")
												span +7 (495) 720-60-37 
												p Телефон для записи на прием

					.swiper-button-prev #[img(src="img/arrow-prev.png")]
					.swiper-button-next #[img(src="img/arrow-next.png")]
					.swiper-pagination

			.tab-bottom__item#tab4
				.our-centers-block
					.our-centers-slider.swiper-container
						.swiper-wrapper

							.swiper-slide
								.our-centers-item
									span.our-centers__img #[img(src="img/our-centers-1.jpg")]

									.our-centers-description
										h3 Справка для ГИБДД (форма 003-В/у) для категории А, В

										.our-centers-inner
											.our-centers-column
												p.time #[span Время оформления:] #[span #[img(src="img/clock.png")] 20 - 30 мин]
												p.price Цена медкомиссии: #[span от 1 200 руб.]

											a.btn Оформить справку

											.call
												img(src="img/local_phone.png")
												span +7 (495) 720-60-37 
												p Телефон для записи на прием

							
							.swiper-slide
								.our-centers-item
									span.our-centers__img #[img(src="img/our-centers-1.jpg")]

									.our-centers-description
										h3 Справка для ГИБДД (форма 003-В/у) для категории А, В

										.our-centers-inner
											.our-centers-column
												p.time #[span Время оформления:] #[span #[img(src="img/clock.png")] 20 - 30 мин]
												p.price Цена медкомиссии: #[span от 1 200 руб.]

											a.btn Оформить справку

											.call
												img(src="img/local_phone.png")
												span +7 (495) 720-60-37 
												p Телефон для записи на прием
					.swiper-button-prev #[img(src="img/arrow-prev.png")]
					.swiper-button-next #[img(src="img/arrow-next.png")]
					.swiper-pagination

	//- SERVICES
	section.services
		h2.main-title Стоимость услуг

		.container

			table
				tr
					th Наименование услуги
					th.hide Время прохождения комиссии
					th.hide Цена, руб.
					th.hide 25 филиалов в Москве и МО

				tr
					td 
						div
							p Справка для ГИБДД (форма 003-В/у) для категории А, В
							span 1 200 руб.
					td.hide  20 - 30 минут
					td.hide 1 200
					td.hide 
						a.btn(href="#") Оформить справку

				tr
					td 
						div
							p Справка для ГИБДД (форма 003-В/у) для категории А, В + нарколог и психиатр
							span 1 200 руб.
					td.hide  20 - 30 минут
					td.hide 1 200
					td.hide 
						a.btn(href="#") Оформить справку

				tr
					td 
						div
							p Справка для ГИБДД (форма 003-В/у) для категории С, D, E с электроэнцефалограммой + нарколог и психиатр
							span 1 200 руб.
					td.hide 20 - 30 минут
					td.hide 1 200
					td.hide 
						a.btn(href="#") Оформить справку

	//- MED_LIST
	section.med-list

		h2.main-title Список медицинских специалистов для получения справок 

		ul
			li Врач-терапевт
			li Офтальмолог
			li Психиатр
			li Психиатр-нарколог
			li Невролог (по направлению терапевта)
			li Отоларинголог
			li Электроэнцефалография (по направлению терапевта)
			li Анализ мочи (по направлению терапевта)
			li Анализ крови (по направлению терапевта)

	//- WHY
	.why
		.container

			h2.main-title Почему важно получить справку официально

			div.why-column
				span #[img(src="img/emblem.png")]
				p Все наши клиники обладают лицензиями на проведение медосмотров и выдачу медсправок, в том числе и для водителей. Поэтому наши справки являются официальными.#[a.button-text(href="#") #[span далее]] #[span.hide-text Работа у нас организована оперативно, так что вам не нужно будет тратить много времени. Кроме того, по сравнению с государственными клиниками, у нас более удобный график работы. Можно приехать вечером и в выходные дни.]

	//- LICENSE
	section.license

		h2.main-title Лицензии

		.container

			.license-slider.swiper-container
				.swiper-wrapper

					.swiper-slide 
						.licese-item #[img(src="img/license-1.png")]
					
					.swiper-slide 
						.licese-item #[img(src="img/license-2.png")]
					
					.swiper-slide 
						.licese-item #[img(src="img/license-3.png")]
					
					.swiper-slide 
						.licese-item #[img(src="img/license-4.png")]
					
					.swiper-slide 
						.licese-item #[img(src="img/license-5.png")]
				
			.swiper-button-prev #[img(src="img/arrow-prev.png")]
			.swiper-button-next #[img(src="img/arrow-next.png")]
			.swiper-pagination

	//- HELP
	section.help
		h2.main-title Звоните, мы подберем нужную медсправку для вас!

		.container
			.call
				.call-inner
					a(href="tel:74957206037") #[img(src="img/local_phone_big.png")] +7 (495) 720-60-37
					p Телефон для записи на прием
				a.call-button(href="#") Заказать звонок
			
			span.or ИЛИ

			form.form

				h3 Отправьте заявку и наши менеджеры подберут ближайший медицинский центр #[img(src="img/call-arrow.png")]

				.form-inner
					.form-inner-column
						.input-block
							div
								label(for="name") Введите имя:
								input.input(type="text" id="name" placeholder="Имя")

							div
								label(for="phone") Контактный телефон:
								input.input(type="text" id="phone" placeholder="+7 ___ ___-__-__")

						label Выберите нужную услугу:
						select 
							option Медсправка водительская 003/ву
							option Медсправка водительская 003/ву
							option Медсправка водительская 003/ву
							option Медсправка водительская 003/ву

					.form-inner-column
						.btn-block
							button.btn(type="submit") Оформить справку

							label
								input.checkbox(type="checkbox" checked)
								span.accept Я принимаю #[a(href="#") условия передачи информации]
					
					.form-inner-column.form-inner-column_img
						span #[img(src="img/doctors.png")]


