footer.footer
	.container
		.footer-up
				div.logo
						p.logo__img #[img(src="img/logo.png")]
						
						div.logo__title
							p MED#[span CENTER]
							p СЕТЬ МЕДИЦИНСКИХ ЦЕНТРОВ
						
				nav
					ul
						li #[a(href="#") О компании]
						li #[a(href="#") Услуги]
						li #[a(href="#") Цены]
						li #[a(href="#") Лицензии]
						li #[a(href="#") Контакты]

		.footer__links
			ul
				li #[img(src="img/ambulance.png")] #[span Медсправки для ГИБДД]
				li #[a(href="#") Справка 003-В/у с наркологом и #[br] психиатром (для ГИБДД)]
				li #[a(href="#") Справка 003-В/у для замены #[br] водительского удостоверения]


			ul
				li #[img(src="img/hospital.png")] #[span Медсправки для работы]
				li #[a(href="#") Справка (заключение) о #[br] профпригодности по приказу 302н]
				li #[a(href="#") Медицинская справка для госслужбы #[br] 001-ГС/у]
				li #[a(href="#") Справка в ФМС для РВП / ВНЖ / #[br] разрешения на работу]
				li #[a(href="#") Медицинская справка (форма 989н) #[br] для работы с гостайной]
				li #[a(href="#") Больничный лист]
			
			ul
				li #[img(src="img/virus.png")] #[span Тест на COVID-19]
				li #[a(href="#") ПЦР-тест на COVID-19]
				li #[a(href="#") Экспресс-тест на антитела к #[br] COVID-19]
				li #[a(href="#") Тест на антитела IgM и IgG к #[br] COVID-19]
				li #[a(href="#") Тестирование сотрудников на #[br] COVID-19]

		div.footer__call
			img(src="img/local_phone.png")
			a(href="tel:+74957206037") +7 (495) 720-60-37
			span Телефон для записи на прием

		.footer-bottom
			p © 2020 MEDCENTER
			span #[a(href="#") #[img(src="img/metr.jpg")]]


script(src="libs/jquery/jquery.min.js")
script(src="libs/swiper/js/swiper-bundle.min.js")
script(src="libs/selectric/jquery.selectric.min.js")
script(src="js/common.js")