//- OIL
section.oil
	h2.main-title Масло из печени дикой арктической трески Mermaids OMEGA-3

	p.oil-description Рыбий жир продаётся в разных формах. Натуральная жидкая форма, синтетическая и концентрат (рыбий жир в капсулах). Натуральный жидкий рыбий жир является безопасным, лучше всего усваивается организмом. Именно такой высококачественный продукт в виде масла из печени дикой арктической трески предлагает Mermaids.

	.oil-block
		.oil-slider.swiper-slider
			.swiper-wrapper

				.swiper-slide
					.oil-item
						h3 #[a(href="#") Рыбий жир Mermaids OMEGA-3 (Норвегия)]

						p.oil-item__img #[img(src="img/product-1.jpg" alt="Рыбий жир")] #[span  OMEGA-3]

						.oil-item-block
							.oil-item-one
								ul
									li #[span]
									li #[span]
									li #[span]
									li #[span]
									li #[span]
									li #[span 4,9]

								a(href="#") #[span Отзывы]

							.oil-item-two
								p Объем: 250 мл
								p Суточная доза: 5 мл
							
							.oil-item-three
								div 
									span.title Стоимость: 
								div
									p.old-price #[span 4 200 ] #[span руб.]
									p.new-price #[span 3 500 ] #[span руб.] 

							a.btn-orange(href="#") Добавить в корзину

				.swiper-slide
					.oil-item
						h3 #[a(href="#") Морской коллаген с натуральными витаминами ]

						p.oil-item__img #[img(src="img/product-2.jpg" alt="Рыбий жир")] #[span  OMEGA-3]

						.oil-item-block
							.oil-item-one
								ul
									li #[span]
									li #[span]
									li #[span]
									li #[span]
									li #[span]
									li #[span 4,9]
								a(href="#") #[span Отзывы]

							.oil-item-two
								p Объем: 250 мл
								p Суточная доза: 5 мл
							
							.oil-item-three
								div 
									span.title Стоимость: 
								div
									p.old-price #[span 4 200 ] #[span руб.]
									p.new-price #[span 3 500 ] #[span руб.] 
									

							a.btn-orange(href="#") Добавить в корзину
				
				.swiper-slide
					.oil-item
						h3 #[a(href="#") Подарочный набор Рыбий жир Mermaids]

						p.oil-item__img #[img(src="img/product-3.jpg" alt="Рыбий жир")] #[span  OMEGA-3]

						.oil-item-block
							.oil-item-one
								ul
									li #[span]
									li #[span]
									li #[span]
									li #[span]
									li #[span]
									li #[span 4,9]

								a(href="#") #[span Отзывы]

							.oil-item-two
								p Объем: 250 мл
								p Суточная доза: 5 мл
							
							.oil-item-three
								div 
									span.title Стоимость: 
								div
									p.old-price #[span 5 500 ] #[span руб.] 
									p.new-price #[span 6 100 ] #[span руб.]

							a.btn-orange(href="#") Добавить в корзину

		.swiper-pagination
		.swiper-button-prev
		.swiper-button-next
		
//- WHY
section.why
	h2.main-title Для чего нужен рыбный морской коллаген организму

	.why-fish-block
		.why-fish-inner
			div
				p Главное полезное свойство – внешнее омоложение. Улучшается внешний вид кожи, процессы старения существенно замедляются.
				span OMEGA-3
	
	ul.why-list
		li #[p Высокое содержание Омега-3 кислот (DHA и EPA)]
		li #[p Удобный прием 1 раз в сутки]
		li #[p Cнижают риск смерти от сердечно-сосудистых заболеваний]
		li #[p Омега-3 кислоты поддерживают остроту зрения и развитие IQ у детей]
		li.hide #[p Омега-3 кислоты способствуют лучшему интеллектуальному]
		li.hide #[p Улучшают рабочую память, способность к запоминанию и концентрацию]

	p.why-description Рыбий жир продаётся в разных формах. Натуральная жидкая форма, синтетическая и концентрат (рыбий жир в капсулах).<span class="show">.. <a>далее</a></span><span class="hide"> Натуральный жидкий рыбий жир является безопасным, лучше всего усваивается организмом. Именно такой высококачественный продукт в виде масла из печени дикой арктической трески предлагает Mermaids.</span>

//- TRANSPORTATION
section.advantages
	.advantages-block
		h2  Преимущества рыбьего жира Mermaids

		.advantages-logo
			.logo
				span.logo__img #[img(src="img/logo.png", alt="Логотип" width="100" height="104")]
				p.logo__title #[span Mermaids] полезные продукты из Норвегии
			
			p.logo__subject OMEGA-3

	.advantages-swiper-block
		.swiper-container.advantages-slider
			.swiper-wrapper

				.swiper-slide
					.advantages-item
						span.advantages-swiper-img #[img(src="img/adv-icon-1.png" alt="Рыба")]
						h3 Лучшее сырье <br> из Норвегии
						p.advantages-swiper-description Арктическая треска считается лучшим видом рыбы для получения Омега-3 кислот

				.swiper-slide
					.advantages-item
						span.advantages-swiper-img #[img(src="img/adv-icon-2.png" alt="Таблетка")]
						h3 Высокое содержание <br> ЕРА и DHA
						p.advantages-swiper-description 1 200 мг незаменимых Омега-3 кислот – в каждой чайной ложке Меллерс
				
				.swiper-slide
					.advantages-item
						span.advantages-swiper-img #[img(src="img/adv-icon-3.png" alt="Убылка")]
						h3 Приятный вкус <br> без запаха
						p.advantages-swiper-description Рыбий жир Mermaids не имеет никакого привкуса и запаха рыбы

				.swiper-slide
					.advantages-item
						span.advantages-swiper-img #[img(src="img/adv-icon-4.png" alt="Сердце")]
						h3 Витамины <br> А, D и Е
						p.advantages-swiper-description Укрепляют здоровье, повышают устойчивость организма к инфекциям

		.swiper-pagination

		.swiper-button-prev
		.swiper-button-next

//- TRANSPORTATION
section.transportation
	h2.main-title.transportation__title Из океана в бутылку за 24 часа

	ul.transportation__list
		li.transportation__item.transportation__item_one
			.transportation-up
				p.transportation__img.transportation__img_one #[img(src="img/fishs.png" alt="Рыбы")]
				span 1

			.transportation-down
				p Только лучшие виды тресковых рыб вылавливаются в Северной Норвегии. Каждая печень проверяется и выбирается только лучшая

		li.transportation__item.transportation__item_two
			.transportation-up
				p.transportation__img.transportation__img_two #[img(src="img/oil-image.png" alt="Масло")]
				span 2

			.transportation-down
				p Масло выделяется естественным образом, когда свежая холодная печень подвергается воздействию комнатной температуры

		li.transportation__item.transportation__item_three
			.transportation-up
				p.transportation__img.transportation__img_three #[img(src="img/capsules.png" alt="Капсулы")]
				span 3

			.transportation-down
				p Загрязняющие вещества удаляются без использования тепла или химических веществ

		li.transportation__item.transportation__item_four
			.transportation-up
				p.transportation__img.transportation__img_four #[img(src="img/filter-img.png" alt="Фильтр")]
				span 4

			.transportation-down
				p Масло проходит через неотбеленные бумажные фильтры


		li.transportation__item.transportation__item_five
			.transportation-up
				p.transportation__img  #[img(src="img/vit-img.png" alt="Витамины")]
				span 5
				div.vitamin E

			.transportation-down
				p Капля витамина Е и органического масла тимьяна добавляется в каждую бутылку

		li.transportation__item.transportation__item_six
			.transportation-up
				p.transportation__img.transportation__img_six #[img(src="img/product-1.jpg" alt="Бутылки")]
				span 6

			.transportation-down
				p Каждая бутылка продувается азотом и закрывается крышкой без проникновения кислорода

//- CARGO
.cargo
	.cargo-up Свежая партия немедленно транспортируется международным дистрибьютерам.

	.cargo-down
		.cargo-down-up
			span #[img(src="img/air.jpg" alt="Самолет")]

			.logo
				div.logo__img #[img(src="img/logo.png", alt="Логотип" width="100" height="104")]
				p.logo__title #[span Mermaids] полезные продукты из Норвегии

		.cargo-down-block
			p.cargo-down-first Свежая партия немедленно транспортируется международным дистрибьютерам. 
			p.cargo-down-second Бутылки с рыбьим жиром хранятся в холодильнике на складах, готовые к отправке потребителям.

//-  FEEDBACK
section.feedback
	h2.feedback__title Отправьте заявку и получите спецпредложение!

	form.feedback__form.form
		h3.form__title Онлайн заявка

		label(aria-label="Ваше имя") #[input.form__input(type="text" placeholder="Ваше имя")]

		label(aria-label="Контактный телефон") #[input.form__input(type="text" placeholder="Контактный телефон")]

		textarea.form__textarea(placeholder="Комментарий")

		label.form__label(aria-label="Согласие на обработку данных") #[input.form__checkbox(type="checkbox")] #[span] #[p Согласие на обработку персональных данных]

		button.btn-orange(type="submit") Отправить заявку

//-  CERTIFICATION
section.certification
	h2.main-title Сертификаты на продукцию

	.certification-block
		.swiper-container.certification-slider
			.swiper-wrapper

				.swiper-slide
					span
						img(src="img/sert-1.jpg", alt="Сертификат 1")
				
				.swiper-slide
					span
						img(src="img/sert-2.jpg", alt="Сертификат 2")

				.swiper-slide
					span
						img(src="img/sert-3.jpg", alt="Сертификат 3")

				.swiper-slide
					span
						img(src="img/sert-4.jpg", alt="Сертификат 4")

				.swiper-slide
					span
						img(src="img/sert-3.jpg", alt="Сертификат 5")

				.swiper-slide
					span
						img(src="img/sert-4.jpg", alt="Сертификат 6")
		
		.swiper-button-prev
		.swiper-button-next
	