footer.footer
	.footer-container

		.footer-top
			.footer-top-block.footer-top-block_one
				.footer-top__column
					.footer-top__logo.logo
						span.logo__img #[img(src="img/logo.png", alt="Логотип" width="100" height="104")]
						p.logo__title #[span Mermaids] полезные продукты из Норвегии

					.footer-top__location
						p Москва, Большой каретный, 2
						a.phone(href="tel:+75552616") +7 (495) 555-26-16
						a(href="#").btn Заказать звонок
			
			.footer-top-block.footer-top-block_two
				.footer-top__column.hide
					ul.footer-top__list
						li #[a(href="#") Omega-3]
						li #[a(href="#") Жидкий рыбий жир #[br] Mermaids - 250 мл]
				
				.footer-top__column.hide
					ul.footer-top__list
						li #[a(href="#") Коллаген]
						li #[a(href="#") Натуральный морской #[br] коллаген]

				.footer-top__column.hide
					ul.footer-top__list
						li #[a(href="#") Подарочные наборы]
						li #[a(href="#") Подарочный набор Рыбий жир #[br] Mermaids]
						li #[a(href="#") Подарочный набор с Морским #[br] коллагеном Mermaids]
						li #[a(href="#") Подарочный набор с Рыбьим #[br] жиром и Морским коллагеном]
						li #[a(href="#") Подарочный набор с Рыбьим #[br] жиром и Морским коллагеном]
					
				.footer-top__column.hide
					a.list-link(href="#") О компании

				.footer-top__column.hide
					a.list-link(href="#") Контакты

		.footer-bottom
			.footer-bottom__column
				p © 2020 Рыбий жир из Норвегии
			
			.footer-bottom__column.hide
				a(href="#") #[img(src="img/metr.jpg", alt="Метрика" width="88" height="31")]


script(src="libs/jquery/jquery3.5.1.min.js")
script(src="libs/swiper/swiper.min.js")
script(src="libs/selectric/jquery.selectric.min.js")
script(src="js/common.js")