header.header
	.mobile-block
		button(type="button") Открыть меню
		a.number(href="tel:+74955552616") +7 (495) 555-26-16
		a.call(href="tel:+74955552616") Позвонить

	.header-block
		.header-block-inner

			.logo
				.country #[img(src="img/flag.png" alt="flag")]
				span.logo__img #[img(src="img/logo.png", alt="Логотип" width="100" height="104")]
				p.logo__title #[span Mermaids] полезные продукты из Норвегии
			
			.cart
				div.cart__img #[img(src="img/basket.png" alt="Корзина")]

				div.price #[p.cart__price 5 650] руб.

				span 3
			
			nav.header-nav
				ul
					li #[a(href="#") OMEGA-3]
					li #[a(href="#") КОЛЛАГЕН]
					li #[a(href="#") ПОДАРОЧНЫЕ НАБОРЫ]
					li #[a(href="#") ДОСТАВКА]
					li #[a(href="#") КОНТАКТЫ]
			
			.call-block
				p Москва, БОЛЬШОЙ КАРЕТНЫЙ, 2
				a.number(href="84955552616") +7 (495) 555-26-16
				a.btn Заказать звонок

	.header-bottom
		.header-bottom-top
			.logo
					span.logo__img #[img(src="img/logo.png", alt="Логотип" width="100" height="104")]
					p.logo__title #[span Mermaids] полезные продукты из Норвегии
				
			.cart
				div.cart__img #[img(src="img/basket.png" alt="Корзина")]

				div.price #[p.cart__price 5 650] руб.

				span 3

		.header-bottom-middle
			div
				h1 Норвежский рыбий жир и морской коллаген
				h2 mermaids havfruene
			
			div
				p.header-bottom-img #[img(src="img/iso.png" alt="ISO")]
				p.header-bottom-description Производство соответствует стандарту ISO 22000
		
		.header-bottom-bottom
			a.btn-orange(href="#") Заказать с ДОСТАВКОЙ
			span OMEGA-3