<header class="header">
    <div class="header__container">
        <div class="header__column-one">
            <button class="burger" type="button">Меню</button>

            <a class="logo header__logo" href="/">
                <span class="logo__up-title header__logo__up-title">Медкнижки</span>
                <span class="logo__img header__logo__img"><img src="img/logo.png" width="80" height="80" alt="Логотип"></span>
                <span class="logo__bottom-title header__logo__bottom-title">Медсправки</span>
            </a>
        </div>

        <div class="header-column-two">
            <div class="work-time header__work-time">
                <p>Пн-Пт: с 9:00 до 21:00 <br> Сб-Вс: с 10:00 до 20:00</p>
                <a href="tel:88005114026">8 (800) 511-40-26</a>
            </div>
        </div>

        <div class="header-column-three">
            <nav class="header__nav">
                <ul>
                    <li>
                        <a href="#">О компании</a>
                    </li>
                    <li>
                        <a href="#">Лицензии</a>
                    </li>
                    <li>
                        <a href="#">Услуги и цены</a>
                    </li>
                    <li>
                        <a href="#">Для организации</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </nav>

            <form class="search">
                <div class="search__block">
                    <label class="search__label" aria-label="Поиск по сайту">
                        <input class="search__input" type="text" placeholder="Поиск">
                    </label>
                    <button class="search__submit" type="submit">Найти</button>
                </div>
            </form>
        </div>

        <div class="sub-menu-block">
            <div class="sub-menu-inner">
                <ul class="sub-menu">
                    <li>
                        <span><a href="#">Водительская комиссия</a></span>
                    </li>
                    <li>
                        <span><a href="#">Медсправки на оружие</a></span>
                    </li>
                    <li>
                        <span><a href="#">Справки на работу</a></span>
                    </li>
                    <li>
                        <span><a href="#">Медицинские книжки</a></span>
                    </li>
                    <li>
                        <span><a href="#">Комиссии и профосмотры</a></span>
                    </li>
                </ul>

                <a class="btn sub-menu__link" href="#">Записаться на медкомиссию</a></div>
        </div>

        <div class="header__place">
            <p class="header__place-street">Ленинский проспект, 24</p>

            <div class="header__license">
                <span><img src="img/eagle.png" width="47" height="52" alt="Герб"></span>
                <p>Лицензия департамента здравоохранения города Москвы</p>
            </div>

            <ul>
                <li><span>м. Таганская</span></li>
                <li><span>м. Ленинский пр-т</span></li>
                <li><span>м. Авиамоторная</span></li>
                <li><span>м. Братиславская</span></li>
            </ul>
        </div>
    </div>
</header>