<link rel="preload" href="fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2" as="font" crossorigin>
<link rel="preload" href="fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2" as="font" crossorigin>
<link rel="preload" href="fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff2" as="font" crossorigin>
<link rel="preload" href="fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2" as="font" crossorigin>
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css")
link(rel="stylesheet" href="css/main.css")
<noscript><link rel="stylesheet" href="css/main.min.css"></noscript>
