@font-face {
  font-family: "SFProDisplay";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
          url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2") format("woff2"),
          url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff2") format("woff"),
          url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("ttf")
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
          url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff2") format("woff2"),
          url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff2") format("woff"),
          url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf") format("ttf")
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
          url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff2"),
          url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff2") format("woff"),
          url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf") format("ttf")
}

@font-face {
  font-family: "SFProDisplay";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
          url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2") format("woff2"),
          url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff2") format("woff"),
          url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf") format("ttf")
}

//@font-face {
//  font-family: "SFProDisplay";
//  src: url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.eot");
//  src: local("☺"), url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.woff") format("woff"), url("../fonts/SFProDisplay-Bold/SFProDisplay-Bold.ttf") format("truetype");
//  font-display: swap;
//  font-weight: 600;
//  font-style: normal;
//}

//@font-face {
//  font-family: "SFProDisplay";
//  src: url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.eot");
//  src: local("☺"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium/SFProDisplay-Medium.ttf") format("truetype");
//  font-display: swap;
//  font-weight: 500;
//  font-style: normal;
//}

//@font-face {
//  font-family: "SFProDisplay";
//  src: url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.eot");
//  src: local("☺"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular/SFProDisplay-Regular.ttf") format("truetype");
//  font-display: swap;
//  font-weight: 400;
//  font-style: normal;
//}

//@font-face {
//  font-family: "SFProDisplay";
//  src: url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.eot");
//  src: local("☺"), url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf") format("truetype");
//  font-display: swap;
//  font-weight: 600;
//  font-style: normal;
//}

