@import "normalize";
@import "variables";
@import "mixins";
@import "scaffolding";
@import "libs";
@import "block/top-menu";
@import "block/slider";

/*header
**************************************/
.main-nav {
	color: #ffffff;
	font-size: 15px;
	line-height: 13px;

	position: relative;

	@media (min-width : 768px) {
		background-color: #303066;
		background-image: linear-gradient(to right, #172238 0%, #395585 50%, #172238 100%);
	}

	@media (min-width : 1200px) {
		padding-top: 25px;
	}
}

.main-nav .container {
	padding: 0;
	position: relative;

	@media (min-width : 768px) {
		padding: 0px 15px;
	}

	@media (min-width : 1200px) {
		display: flex;
		justify-content: flex-end;

		padding: 0;
	}
}

.main-header .column-1{
	background-color: #f8f8f8;
}

.column-1 .container{
	position: relative;

	color: #000000;

	background-color: #ffffff;

	@media (min-width : 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@media (min-width : 1200px) {
		justify-content: flex-start;
	}
}

.column-1 .logo {
	padding: 15px 0;

	text-align: center;

	display: block;
	background-color: #ffffff;
	color: black;

	@media (min-width : 1200px) {
		padding: 24px 38px;
		margin-right: 29px;
		margin-top: -58px;
	}
}

.logo--img {
	display: block;

	margin-bottom: 15px;
}

.logo--title {
	color: #848484;

	font-size: 11px;

	line-height: 11px;
	text-transform: uppercase;

	margin: 0;
}

.column-inner {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;

	@media (min-width : 768px) {
		width: 500px;
		padding-bottom: 0;
	}

	@media (min-width : 992px) {
		width: auto;

		align-items: center;
		flex-direction: row;
	}

	@media (min-width : 1200px) {
		width: 906px;
	}
}

.column-inner .sort{
	.reset-list ();
}

.column-inner .sort {
	.reset-list ();

	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;

	@media (min-width : 992px) {
		justify-content: flex-start;
		width: auto;
		margin-bottom: 0;
		margin-right: 15px;
	}

	@media (min-width : 1200px) {
		margin-right: 26px;
	}
}

.sort li {
	@media (min-width : 992px) {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	@media (min-width : 1200px) {
		margin-right: 28px;
	}
}

.sort a {
	font-family: @circle-b;
	color: #000;
	line-height: 13px;
	text-transform: uppercase;
}

.button-column {
	@media (min-width : 768px) {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@media (min-width : 992px) {
		justify-content: flex-start;
	}
}

.btn-header {
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	text-align: center;

	display: inline-block;

	padding: 1px;

	@media (min-width : 768px) {
		padding: 5px;
	}

	@media (min-width : 992px) {
		padding: 5px 8px;
	}

	@media (min-width : 1200px) {
		padding: 10px 17px;
	}
}

.btn-header__gray {
	@media (min-width : 768px) {
		margin-right: 8px;
	}

	color: #000000;

	background-color: #ebebeb;
	background-image: linear-gradient(to top, gainsboro 0%, #f2f2f2 46.5%, #f2f2f2 50%, #f2f2f2 53.5%, gainsboro 100%);
}

.btn-header__red {
	color: #ffffff;

	background-color: #c2242d;
	background-image: linear-gradient(to top, #c2242d 0%, #cd2f38 50%, #c2242d 100%);

	@media (min-width : 768px) {
		margin-right: 8px;
	}

	@media (min-width : 992px) {
		margin-right: 17px;
	}

	@media (min-width : 1200px) {
		margin-right: 50px;
	}
}

.header-phone {
	display: block;
	position: relative;

	width: 150px;
	margin: 0 auto;
	margin-top: 10px;
	padding-left: 26px;

	@media(min-width : 768px) {
		margin: 0;
		width: auto;
	}

	color: #000000;
	font-family: @circle-l;
	font-size: 15px;
	line-height: 13px;
	text-transform: uppercase;

	&::before {
		content: "";

		position: absolute;
		top: -5px;
		left: 0;

		background-image: url("../img/phone-icon.png");
		background-repeat: no-repeat;
		background-position: 0 0;

		width: 19px;
		height: 19px;
	}
}


@media (max-width : 768px) {
	.nojs.main-header{
		display: flex;
		flex-direction: column-reverse;
	}

	.main-nav--menu {
		display: none;
	}

	.main-nav--menu {
		position: absolute;
		top: 20px;
		right: 16px;
		z-index: 2;
	}

	.block {
		display: block;
	}
}

/*range
**********************************/
.range {
	padding-bottom: 38px;
	padding-top: 30px;

	background-color: #f8f8f8;
}

.range--block {
	margin-bottom: 20px;

	@media (min-width : 992px) {
		margin-bottom: 0;
	}
}

.range--block img {
	display: block;
}

.owl-carousel2 img {
	@media (min-width : 768px) {
		width: 770px;
		height: auto;
	}
}

.different_size {
	position: relative;
	background-color: #ffffff;

	font-family: @circle-l;
	color: #000000;

	padding: 45px 35px 41px 35px;
	margin-bottom: 20px;

	@media (min-width : 992px) {
		position: absolute;
		bottom: 35px;
		right: 35px;

		z-index: 2;

		margin-bottom: 0;
	}
}

.different_size h3 {
	margin: 0;
	margin-bottom: 20px;

	color: #010101;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
}

.different_size p {
	margin: 0;
	margin-bottom: 35px;

	font-size: 20px;
	line-height: 25px;
}

.different_size .owl-nav {
	position: absolute;
	top: -90px;
	right: 15px;
	z-index: 2;

	width: 70px;

	display: flex;
	background: none;
	border: none;

	@media (min-width : 992px) {
		top: 0px;
		right: -35px;
	}
}

.different_size .owl-prev,
.different_size .owl-next {
	background: none;
	background-image: url("../img/button_owl.png");
	background-repeat: no-repeat;
	background-position: center;
	border: none;

	width: 35px;
	height: 35px;

	font-size: 0;
	cursor: pointer;
}

.different_size .owl-prev {
	background-color: #405986;

	transform: rotate(180deg);
}

.different_size .owl-next {
	background-color: #304770;
}

.mink_coat {
	padding: 30px 29px 37px 27px;

	background-color: #ffffff;

	color: #000000;

	@media (min-width : 992px) {
		position: absolute;
		bottom: 35px;
		left: 35px;
	}
}

.mink_coat h3 {
	font-family: @circle-l;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;

	margin: 0;
	margin-bottom: 15px;
}

.mink_coat a {
	font-size: 12px;
	line-height: 18px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #000000;
}

.astrag_coat {
	background-color: #ffffff;
	padding: 27px 28px 35px 26px;

	@media (min-width : 992px) {
		position: absolute;
		top: 35px;
		left: 35px;
	}
}

.astrag_coat h3 {
	margin: 0;
	margin-bottom: 18px;

	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
}

.astrag_coat a {
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	text-decoration: underline;
	text-transform: uppercase;
}

.karak_coat {
	padding: 25px 42px 25px 25px;
	margin: 0;

	font-family: @circle-l;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;

	background-color: #ffffff;

	@media (min-width : 992px) {
		position: absolute;
		bottom: 35px;
		left: 35px;
	}
}

.karak_coat a {
	color: #000000;
}

.man_coat {
	padding: 27px 56px 27px 32px;
	margin: 0;

	font-family: @circle-l;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;

	background-color: #ffffff;

	@media only screen and (min-width : 992px) {
		position: absolute;
		top: 35px;
		left: 35px;
	}
}

.man_coat a {
	color: #000000;
}

@media (min-width : 768px) and (max-width : 991px) {
	.flex-content {
		display: flex;
		justify-content: space-between;
	}

	.flex-content .mink_coat,
	.flex-content .karak_coat,
	.flex-content .astrag_coat{
		width: 731px;
	}
}

@media (min-width : 992px) {
	.box-1 {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-around;

		margin-bottom: 20px;
	}

	.box-2 {
		display: flex;

		@media (min-width : 1200px) {
			justify-content: space-between;
		}
	}

	.box-2 .flex-content{
		margin-bottom: 0;
	}

	.inner-box1 {
		display: flex;
		justify-content: space-between;
	}

	.range-carousel {
		position: relative;
		margin: auto;
		margin-bottom: 20px;
		max-width: 770px;
		width: 100%;
	}

	.flex-content {
		position: relative;
	}

	.box-coat {
		position: relative;
	}
}

@media (min-width : 1200px) {
	.box-1 {
		flex-direction: row;
		justify-content: space-between;
	}

	.inner-box1 {
		flex-direction: column;
		justify-content: flex-start;
	}

	.inner-box1 .flex-content:first-child {
		margin-bottom: 32px;
	}
}

/*advangtages
********************************************/
.advantages {
	background-color: #ffffff;

	color: #000000;
	text-align: center;

	padding: 20px 0;

	@media (min-width : 768px) {
		display: flex;
		flex-wrap: wrap;

		padding-bottom: 0;
	}

	@media (min-width : 1200px) {
		padding-top: 35px;
		padding-bottom: 47px;
	}
}

.advantages--inner {
	display: flex;
	flex-wrap: wrap;

	@media (min-width : 992px) and (max-width : 1199px){
		width: 900px;
		margin: 0 auto;
	}
}

.advantages--block {
	max-width: 234px;
	margin: 0 auto;
	margin-bottom: 20px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width : 768px) {
		margin: 0 auto 40px auto;

		&:last-child {
			margin-bottom: 40px;
		}
	}

	@media (min-width : 1200px) {
		position: relative;
		margin: 0;

		&::before {
			content: "";

			position: absolute;
			right: 0;
			top: 0;

			width: 1px;
			height: 212px;

			background-color: #f4f4f4;
		}

		&:last-child::before {
			display: none;
		}
	}
}

.advantages--title {
	font-size: 12px;
	line-height: 20px;
	text-transform: uppercase;

	position: relative;

	padding-top: 70px;
	margin: 0;
	margin-bottom: 12px;
	min-height: 110px;

	&::before {
		content: "";

		background-repeat: no-repeat;
		background-position: 0 0;

		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.advantages--title__search {
	&::before {
		background-image: url("../img/search.png");

		width: 57px;
		height: 64px;
	}
}

.advantages--title__diamond {
	&::before {
		background-image: url("../img/diamond.png");

		width: 46px;
		height: 41px;
	}
}

.advantages--title__sale {
	&::before {
		background-image: url("../img/sale.png");

		width: 51px;
		height: 58px;
	}
}

.advantages--title__garant {
	&::before {
		background-image: url("../img/garant.png");

		width: 37px;
		height: 47px;
	}
}

.advantages--title__cheap {
	&::before {
		background-image: url("../img/cheap.png");

		width: 55px;
		height: 52px;
	}
}

.advantages--description {
	font-size: 15px;
	line-height: 18px;

	margin: 0 auto;
	padding-left: 12px;
	padding-right: 17px;
}

/*info
*******************************************/
.info {
	background-image: url("../img/fabric-bg.jpg");
	background-repeat: no-repeat;
	background-position: center 0;

	color: #ffffff;

	padding-top: 40px;

	@media (min-width : 1200px) {
		padding-top: 90px;
	}
}

.info--title{
	margin-bottom: 40px;

	@media (min-width : 1200px) {
		margin-bottom: 90px;
	}
}

.info--block {
	background-color: #ffffff;

	color: #000000;
	text-align: center;

	position: relative;

	@media (min-width : 992px) {
		text-align: left;
	}
}

.info .description {
	margin: 0;

	font-size: 15px;
	line-height: 24px;

	@media (min-width : 992px) {
		max-width: 350px;
	}

	@media (min-width : 1200px) {
		max-width: 416px;

		font-size: 18px;
	}
}

.info .logo {
	width: 100%;
	max-width: 535px;
	padding: 100px 0;
	margin: 0;

	background-image: url("../img/fabric-logo.jpg");
	background-position: center;
	background-repeat: no-repeat;

	@media (min-width : 768px) {
		margin-bottom: 20px;
		padding: 0;
		padding-top: 15px;
		height: 356px;

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@media (min-width : 992px) {
		margin-top: -150px;
	}

	@media (min-width : 1200px) {
		margin-top: -195px;
		margin-right: 45px;
	}
}

.info .logo span:last-child {
	color: #848484;
	font-size: 9px;
	line-height: 12px;
	text-transform: uppercase;

	display: block;
}

.info .logo span:first-child {
	position: relative;

	&::before {
		content: "";

		position: absolute;
		top: -37px;
		left: 33px;

		background-image: url("../img/ga.png");
		background-position: 0 0;
		background-repeat: no-repeat;

		width: 22px;
		height: 26px;
	}
}

.info .buy {
	font-family: @circle-l;
	font-size: 14px;
	line-height: 24px;

	margin-bottom: 20px;

	@media (min-width : 768px) {
		margin: 0 auto;
		margin-bottom: 20px;
		max-width: 500px;
	}

	@media (min-width : 992px) {
		max-width: 350px;
	}

	@media (min-width : 1200px) {
		max-width: 500px;

		font-size: 16px;
		margin-bottom: 35px;
	}
}

.info-column1 {
	margin-bottom: 20px;
	padding: 34px 12px 0px 12px;

	background-color: #f8f8f8;

	@media (min-width : 768px) {
		padding-bottom: 34px;
	}

	@media (min-width : 992px) {
		display: flex;
		justify-content: flex-end;

		margin-bottom: 0px;
	}

	@media (min-width : 1200px) {
		padding-top: 75px;
		padding-right: 140px;
	}
}

.info-column2 {
	padding: 0px 12px;

	@media (min-width : 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	@media (min-width : 992px) {
		flex-direction: row;
		justify-content: space-between;
	}

	@media (min-width : 1200px) {
		padding: 0px 35px;
		justify-content: flex-start;
	}
}

.info-column2 a {
	display: block;

	@media (min-width : 768px) {
		display: inline-block;
	}
}

/*recommendation
************************************/
.recommendation {
	margin-top: 50px;
	margin-bottom: 84px;

	@media (min-width : 992px) {
		margin-top: 85px;
	}
}



.slider .owl-stage-outer {
	padding-bottom: 28px;
}


/*my-ad
************************************/
.my-ad {
	margin-bottom: 50px;

	text-align: center;
	color: #ffffff;

	@media (min-width : 992px) {
		margin-bottom: 95px;
		display: flex;
	}
}

.my-ad--container {
	max-width: 1300px;
	margin: 0 auto;
}

.my-ad--demonstration {
	background-image: url("../img/bg-demonstration.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #000000;
	background-size: cover;

	padding: 0 10px;

	@media (min-width : 992px) {
		width: 50%;
	}
}

.my-ad--demonstration .my-ad--block{
	max-width: 490px;
	margin: 0 auto;
	padding-top: 65px;
	padding-bottom: 45px;
}

.my-ad--demonstration .my-ad--heading {
	font-family: @circle-l;
	font-size: 14px;
	line-height: 25px;
	text-transform: uppercase;

	margin: 0;
	margin-bottom: 22px;

	span {
		font-size: 24px;

		margin-top: 25px;

		display: block;
	}
}

.my-ad--demonstration .my-ad--description {
	font-size: 16px;
	line-height: 25px;

	margin: 0;
	margin-bottom: 30px;

	span {
		text-transform: uppercase;
	}
}

.my-ad--btn {
	padding-right: 42px;
	padding-left: 42px;

	border-color: #ffffff;
	color: #ffffff;

	&:hover {
		background: transparent;
	}
}

.my-ad--service {
	background-color: gainsboro;
	background-image: linear-gradient(-56deg, gainsboro 0%, whitesmoke 50%, gainsboro 100%);

	padding: 0 10px;

	@media (min-width : 992px) {
		width: 50%;
	}
}

.my-ad--service .my-ad--block{
	max-width: 415px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 90px;

	color: #000000;
}

.my-ad--service .my-ad--heading{
	margin: 0;
	margin-bottom: 30px;
	padding-top: 60px;

	font-family: @circle-l;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;

	position: relative;

	&::before {
		content: "";

		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -17px;


		background-image: url("../img/heart.png");
		background-repeat: no-repeat;
		background-position: center;

		width: 34px;
		height: 33px;
	}
}

.my-ad--service .my-ad--description {
	margin: 0;

	font-size: 16px;
	line-height: 25px;

	span {
		text-transform: uppercase;
	}
}

/*useful-article
*******************************************/
.useful-article {
	text-align: center;
	margin-bottom: 60px;

	@media (min-width : 1200px) {
		margin-bottom: 150px;
	}
}

.useful-article .container{
	@media (min-width : 768px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.useful-article--title {
	margin-bottom: 50px;
}

.column-block {
	margin-bottom: 30px;

	@media (min-width : 768px) {
		margin-bottom: 60px;
	}

	@media (min-width : 992px) {
		display: flex;
		justify-content: space-around;

		width: 100%;
	}
}

.useful-article--block1 {
	margin-bottom: 30px;

	background-image: url("../img/bg-article1.jpg");

	@media (min-width : 992px) {
		margin-bottom: 0;
	}
}

.useful-article .column-inner {
	max-width: 497px;
	width: 100%;
	min-height: 272px;
	height: 1px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.9);
}

.useful-article--block2 {
	background-image: url("../img/bg-article2.jpg");

	padding: 10px;

	@media (min-width : 768px) {
		padding: 40px;
	}
}

.useful-article--block {
	max-width: 400px;
	width: 100%;
	min-height: 345px;


	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #000000;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;

	color: #ffffff;

	@media (min-width : 1200px) {
		max-width: 570px;
	}
}

.useful-article--link--white {
	color: #ffffff;
	border-color: #ffffff ;
}

.useful-article--title2 {
	margin: 0;
	margin-bottom: 30px;
	max-width: 372px;
	width: 100%;

	color: #000000;
	font-size: 24px;
	font-family: @circle-l;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}

.useful-article--title2__white {
	color: #ffffff;
}

.useful-article--link--all {
	color: #323232;
	font-family: @circle-b;
	line-height: 13px;
	text-decoration: underline;
	text-transform: uppercase;
}

/*goods
*****************************************/
.goods {
	margin-bottom: 40px;

	@media only screen and (min-width : 1200px) {
		margin-bottom: 100px;
	}
}

/*new
*****************************************/
.new {
	margin-bottom: 40px;

	@media only screen and (min-width : 1200px) {
		margin-bottom: 80px;
	}
}

/*main-footer
**************************************/
.main-footer--top {
	background-color: #f8f8f8;

	color: #000000;

	padding-top: 30px;
	padding-bottom: 20px;
	// padding-bottom: 40px;
}

.main-footer--logo {
	text-align: center;
	display: inline-block;

	margin-bottom: 20px;
}

.main-footer--logo span {
	display: block;

	margin-bottom: 17px;
}

.main-footer--logo p {
	margin: 0;

	color: #848484;
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
}

.main-footer--nav {
	.reset-list ();

	@media (min-width : 768px) {
		display: flex;
		flex-wrap: wrap;
		max-width: 500px;
		width: 100%;
	}

	@media (min-width : 992px) {
		max-width: 760px;

		justify-content: space-between;
		align-items: center;
	}

	@media (min-width : 1200px) {
		max-width: 860px;
	}
}

.main-footer--nav li {
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width : 768px) {
		margin: auto;

		&:last-child {
			margin: auto;
		}
	}

	@media (min-width : 992px) {
		margin: 0;

		&:last-child {
			margin: 0;
		}
	}
}

.main-footer--nav a {
	color: #000000;
	line-height: 13px;
	text-transform: uppercase;

	&:hover {
		color: #c62831;
	}
}

.main-footer--adress {
	display: flex;

	margin-bottom: 20px;

	@media (min-width : 768px) {
		margin-bottom: 30px;

		justify-content: space-around;
	}

	@media (min-width : 992px) {
		justify-content: flex-start;
	}

	@media (min-width : 1200px) {
		flex-direction: column;
	}
}

.main-footer--adress ul {
	.reset-list ();

	position: relative;

	padding-left: 20px;

	&::before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		background-image: url("../img/phone-icon.png");
		background-position: 0 0;
		background-repeat: no-repeat;

		width: 19px;
		height: 19px;
	}

	@media (min-width : 992px) {
		margin-right: 150px;
	}

	@media (min-width : 1200px) {
		margin-right: 0px;
		margin-bottom: 30px;
	}
}

.main-footer--adress p {
	padding-left: 20px;

	position: relative;

	&::before {
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		background-image: url("../img/pin.png");
		background-position: 0 0;
		background-repeat: no-repeat;

		width: 15px;
		height: 19px;
	}
}

.main-footer--adress ul li {
	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.main-footer--adress p {
	margin: 0;

	line-height: 18px;
}

.main-footer--adress a {
	color: black;
	font-size: 14px;
	line-height: 13px;
	text-transform: uppercase;

	@media (min-width : 768px) {
		font-size: 15px;
	}
}

.main-footer--bottom-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@media only screen and (min-width : 1200px) {
		max-width: 860px;
		width: 100%;
		justify-content: flex-start;
	}
}

.main-footer--bottom-navigation fieldset {
	margin: 0;
	margin-bottom: 20px;
	padding: 0;

	border: none;
	font-family: @circle-l;
	font-size: 15px;
	line-height: 13px;

	@media (min-width : 768px) {
		margin-bottom: 0px;
	}

	@media (min-width : 1200px) {
		margin-right: 70px;
	}
}

.main-footer--bottom-navigation legend {
	margin-bottom: 15px;
}

.main-footer--bottom-navigation ul {
	.reset-list ();
	padding-left: 5px;
}

.main-footer--bottom-navigation li {
	margin-bottom: 15px;
}

.main-footer--bottom-navigation a {
	color: #848484;
	font-family: @circle-l;
	font-size: 13px;
	line-height: 13px;
}

.main-footer--map {
	text-align: center;
	line-height: 147px;

	position: relative;
	overflow: hidden;
	margin-bottom: 20px;

	height: 147px;
}

.main-footer--map a {
	padding: 13px 60px 13px 22px;

	display: inline-block;
	position: relative;
	z-index: 2;

	background-color: #ffffff;

	color: #000000;
	font-size: 16px;
	line-height: 13px;

	&::after {
		content: "";

		position: absolute;
		top: 50%;
		right: 15px;

		background-image: url("../img/button_owl-black.png");
		background-repeat: no-repeat;
		background-position: 0 0;

		margin-top: -7px;
		width: 8px;
		height: 14px;
	}
}

.main-footer--map span {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -800px;
	z-index: 1;

	background-color: rgba(56, 83, 130, 0.4);

	&::after {
		content: "";

		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		background-color: rgba(56, 83, 130, 0.4);
	}
}

.main-footer--map img {
	max-width: none;
}

.main-footer--coopyright {
	text-align: center;

	@media (min-width : 992px) {
		text-align: left;
	}
}

.main-footer--coopyright .container {

	@media (min-width : 992px) {
		display: flex;
		justify-content: space-between;
	}
}

.main-footer--coopyright p {
	margin: 0;
	margin-bottom: 10px;
}

.main-footer--coopyright p,
.main-footer--coopyright a {
	color: #555;
	line-height: 13px;
}

.main-footer--coopyright a {
	text-decoration: underline;
	display: block;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}

	@media (min-width : 992px) {
		display: inline-block;

		&:first-child {
			margin-right: 10px;
			padding-right: 10px;
			border-right: 1px solid black;
		}
	}
}

.main-footer .column-1 {
	text-align: center;

	margin-bottom: 30px;

	@media (min-width : 768px) {
		display: flex;
		justify-content: space-between;
	}
}

.main-footer .column-2 {
	@media (min-width : 1200px) {
		display: flex;
		justify-content: space-between;
	}
}

@import "sewing";
