<footer class="footer">
	<div class="footer-inner">

		<div class="footer-info-block">
			.logo
				.logo__img
					img(src="img/logo-main.png")
				ul
					li
						.logo__name 
							span MED
							span СПРАВКИ
					li
						.logo__article все справки в одном месте

			<div class="footer-info">
				<a href="tel:84951169387">8 (495) 116-93-87</a>
				<span>Ежедневно с 9:00 до 21:00</span>
				<p>Москва, Ленинский проспект, 24</p>
			</div>	
		</div>

		<div class="footer-list">
			<ul>
				<li><a href="#">Медсправки для ГИБДД</a><li>
				<li><a href="#">Справка для категорий А, А1, В, В1, М, ВЕ (003-в/у)</a><li>
				<li><a href="#">Справка для категорий С, С1, D, D1, CE, C1E, D1E, DE, Tm, Tb (003-в/у)</a><li>
				<li><a href="#">Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у</a><li>
			</ul>
		</div>

		<div class="footer-list">
			<ul>
				<li><a href="#">Медсправки для работы</a><li>
				<li><a href="#">Справка (заключение) о профпригодности по приказу 302н</a><li>
				<li><a href="#">Медицинская справка для госслужбы 001-ГС/у</a><li>
				<li><a href="#">Справка в ФМС для РВП / ВНЖ / разрешения на работу</a><li>
				<li><a href="#">Больничные листы</a><li>
			</ul>
		</div>

		<div class="footer-list">
			<ul>
				<li><a href="#">Медсправки для учебы</a><li>
				<li><a href="#">Справка (заключение) о профпригодности по приказу 302н</a><li>
				<li><a href="#">Медицинская справка для госслужбы 001-ГС/у</a><li>
				<li><a href="#">Справка в ФМС для РВП / ВНЖ / разрешения на работу</a><li>
			</ul>
		</div>

		<div class="footer-list">
			<ul>
				<li><a href="#">Популярные справки</a><li>
				<li><a href="#">Справка (заключение) о профпригодности по приказу 302н</a><li>
				<li><a href="#">Медицинская справка для госслужбы 001-ГС/у</a><li>
				<li><a href="#">Справка в ФМС для РВП / ВНЖ / разрешения на работу</a><li>
			</ul>
		</div>

		<div class="footer-bottom">
			<p>2020 © MEDСПРАВКИ</p>
			<a href="#"><img src="img/metr.jpg" alt="metrika"></a>
		</div>

	</div>
</footer>

script(src="libs/jquery/jquery3.5.1.min.js")
script(src="libs/swiper/swiper.min.js")
script(src="libs/selectric/jquery.selectric.min.js")
script(src="js/common.js")