.header-desctop
    .header-desctop__cont.container
        .header-desctop__item.header-desctop__item_left
            button(type="button").burger

            .logo
                .logo__img
                    img(src="img/logo-main.png")
                ul
                    li
                        .logo__name 
                            span MED
                            span СПРАВКИ
                    li
                        .logo__article все справки в одном месте

        .header-desctop__item.header-desctop__item_center
            ul.top-menu
                li
                    a(href="#") О компании
                li
                    a(href="#") Лицензии
                li
                    a(href="#") Для организаций
                li
                    a(href="#") Контакты

            ul.main-menu
                li
                    a(href="#").med-list Медицинские справки
                li
                    a(href="#").med-book Медкнижки
                li
                    a(href="#").med-prof Профосмотры
                li
                    a(href="#").med-caught Больничные листы

        ul.header-desctop__item.header-desctop__right
            li
                a(href="tel:84951169387").call-link 8 (495) 116-93-87
            li
                .timework Ежедневно с 9:00 до 21:00

.hidden-menu-dsc
    .container
        ul.hidden-menu-dsc__top
            li
                |Медсправки для ГИБДД
            li
                |Медсправки для работы
            li
                |Медсправки для учебы
            li
                |Популярные медсправки

        .hidden-menu-dsc__bottom
            ul.hidden-menu-dsc__links
                li
                    a(href="#") Медсправка для категории А, В 003в/у
                li
                    a(href="#") Справка для категории А, В + нарколог и психиатр 003в/у
                li
                    a(href="#") Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у

            ul.hidden-menu-dsc__links
                li
                    a(href="#") Справка (заключение) о профпригодности по приказу 302н
                li
                    a(href="#") Медицинская справка для госслужбы 001-ГС/у
                li
                    a(href="#") Справка в ФМС для РВП / ВНЖ / разрешения на работу
                li
                    a(href="#") Больничные листы

            ul.hidden-menu-dsc__links
                li
                    a(href="#") Справка о временной нетрудоспособности учащихся 095/у
                li
                    a(href="#") Медицинская справка в бассейн 083/4-89
                li
                    a(href="#") Медицинская справка в бассейн 083/4-89

            ul.hidden-menu-dsc__links
                li
                    a(href="#") Медицинская справка в бассейн 083/4-89
                li
                    a(href="#") Медсправка на оружие
                li
                    a(href="#") Освобождение от физкультуры

.header-mobile
    .header-mobile__top
        button.burger-mob(type="submit")

        .logo.logo_mob
            .logo__img
                img(src="img/logo-main.png")
            ul
                li
                    .logo__name 
                        span MED
                        span СПРАВКИ
                li
                    .logo__article все справки в одном месте

        a(href="tel:84951169387").mob-phone

    .header-mobile__bottom
        a(href="tel:84951169387").call-link 8 (495) 116-93-87

.mob-dropdown
    ul.mob-dropdown__top-list
        li
            a(href="#") О компании
        li
            a(href="#") Для организаций
        li
            a(href="#") Лицензии
        li
            a(href="#") Контакты

    ul.mob-dropdown__bottom-list
        li
            a(href="#").med-list.link-mob Медицинские справки
            .inner-menu
                .inner-menu__title Медсправки для ГИБДД
                ul
                    li
                        a(href="#") Медсправка для категории А, В 003в/у
                    li
                        a(href="#") Справка для категории А, В + нарколог и психиатр 003в/у
                    li
                        a(href="#") Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у

                .inner-menu__title Медсправки для работы
                ul
                    li
                        a(href="#") Справка (заключение) о профпригодности по приказу 302н
                    li
                        a(href="#") Медицинская справка для госслужбы 001-ГС/у
                    li
                        a(href="#") Справка в ФМС для РВП / ВНЖ / разрешения на работу
                    li
                        a(href="#") Больничные листы

                .inner-menu__title Медсправки для учебы
                ul 
                    li
                        a(href="#") Справка о временной нетрудоспособности учащихся 095/у
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89

                .inner-menu__title Популярные медсправки
                ul 
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89
                    li
                        a(href="#") Медсправка на оружие
                    li
                        a(href="#") Освобождение от физкультуры

        li
            a(href="#").med-book.link-mob Медкнижки
            .inner-menu
                .inner-menu__title Медсправки для ГИБДД
                ul
                    li
                        a(href="#") Медсправка для категории А, В 003в/у
                    li
                        a(href="#") Справка для категории А, В + нарколог и психиатр 003в/у
                    li
                        a(href="#") Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у

                .inner-menu__title Медсправки для работы
                ul
                    li
                        a(href="#") Справка (заключение) о профпригодности по приказу 302н
                    li
                        a(href="#") Медицинская справка для госслужбы 001-ГС/у
                    li
                        a(href="#") Справка в ФМС для РВП / ВНЖ / разрешения на работу
                    li
                        a(href="#") Больничные листы

                .inner-menu__title Медсправки для учебы
                ul 
                    li
                        a(href="#") Справка о временной нетрудоспособности учащихся 095/у
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89

                .inner-menu__title Популярные медсправки
                ul 
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89
                    li
                        a(href="#") Медсправка на оружие
                    li
                        a(href="#") Освобождение от физкультуры
        li
            a(href="#").med-prof.link-mob Профосмотры
            .inner-menu
                .inner-menu__title Медсправки для ГИБДД
                ul
                    li
                        a(href="#") Медсправка для категории А, В 003в/у
                    li
                        a(href="#") Справка для категории А, В + нарколог и психиатр 003в/у
                    li
                        a(href="#") Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у

                .inner-menu__title Медсправки для работы
                ul
                    li
                        a(href="#") Справка (заключение) о профпригодности по приказу 302н
                    li
                        a(href="#") Медицинская справка для госслужбы 001-ГС/у
                    li
                        a(href="#") Справка в ФМС для РВП / ВНЖ / разрешения на работу
                    li
                        a(href="#") Больничные листы

                .inner-menu__title Медсправки для учебы
                ul 
                    li
                        a(href="#") Справка о временной нетрудоспособности учащихся 095/у
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89

                .inner-menu__title Популярные медсправки
                ul 
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89
                    li
                        a(href="#") Медсправка на оружие
                    li
                        a(href="#") Освобождение от физкультуры
        li
            a(href="#").med-caught.link-mob Больничные листы
            .inner-menu
                .inner-menu__title Медсправки для ГИБДД
                ul
                    li
                        a(href="#") Медсправка для категории А, В 003в/у
                    li
                        a(href="#") Справка для категории А, В + нарколог и психиатр 003в/у
                    li
                        a(href="#") Справка для категории С, D, E с ЭЭГ+ нарколог и психиатр 003в/у

                .inner-menu__title Медсправки для работы
                ul
                    li
                        a(href="#") Справка (заключение) о профпригодности по приказу 302н
                    li
                        a(href="#") Медицинская справка для госслужбы 001-ГС/у
                    li
                        a(href="#") Справка в ФМС для РВП / ВНЖ / разрешения на работу
                    li
                        a(href="#") Больничные листы

                .inner-menu__title Медсправки для учебы
                ul 
                    li
                        a(href="#") Справка о временной нетрудоспособности учащихся 095/у
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89

                .inner-menu__title Популярные медсправки
                ul 
                    li
                        a(href="#") Медицинская справка в бассейн 083/4-89
                    li
                        a(href="#") Медсправка на оружие
                    li
                        a(href="#") Освобождение от физкультуры

    button(type="button").btn Записаться на комиссию

.metr-slider-wrap
   .metr-slider-inner
    .metr-slider.swiper-container.metr-container
        .swiper-wrapper
            .swiper-slide
              span
                a(href="#") м.Братиславская

            .swiper-slide
              span
                a(href="#") м. Беломорская

            .swiper-slide
              span.red
                a(href="#") м. Бульвар Рокоссовского

            .swiper-slide
              span.grey
                a(href="#") м. Бунинская аллея

            .swiper-slide
              span.purple
                a(href="#") м. Жулебино

            .swiper-slide
              span.purple
                a(href="#") м. Кузьминки

            .swiper-slide
              span.blue
                a(href="#") м. Семеновская

            .swiper-slide
              span.lightblue
                a(href="#") м. Каховская / Севастопольская

            .swiper-slide
              span.red
                a(href="#") м. Юго-Западная

    .swiper-button-next.swiper-button-next-mr
    .swiper-button-prev.swiper-button-prev-mr






