header.header
	.header-mobile
		button.burger(type="button") Открыть меню
		.logo
			p.logo__img #[img(src="img/logo.png", alt="Логотип")]

			.logo__description
				p ЛИКВИДАЦИЯ #[span №1]
				p Банкротство, продажа в оффшор #[br] или ликвидация
		a(href="tel:+74951197364") Позвонить

	.header__right
		.header__right-inner
			.libra.libra-top
				span #[img(src="img/libra.png" alt="весы")]
				p Ликвидируем компании #[br] с 2007 года
			
			nav
				ul
					li #[a(href="#") Наши специалисты]
					li #[a(href="#") Вопросы и ответы]
					li #[a(href="#") Сертификаты]
					li #[a(href="#") Контакты]
			
			a.order-call(href="#") Заказать звонок

			.header-callback
				p.time ПН-ПТ: 10:00-20:00
				span +7 (495) 119-73-64
				p.street Москва, Озерковский переулок, д. 12

			ul.header-links
				li #[a(href="#") УСЛУГИ И ЦЕНЫ]
				li #[a(href="#") ЛИКВИДАЦИЯ БИЗНЕСА]
				li #[a(href="#") ЭТАПЫ ЛИКВИДАЦИИ]
				li #[a(href="#") СПОСОБЫ ЛИКВИДАЦИИ]