<section class="calculate">
	<div class="calculate__block">
		<h1 class="calculate__title calculate__title_other">Калькулятор</h1>

		<div class="calculate__select">
			<select tabindex="0">
				<option value="Террас">Террас</option>
				<option value="Заборов">Заборов</option>
			</select>
		</div>
	</div>


	<!-- TERRAS-CALCULATE -->
	<div class="terras-calculate">

		<div class="calculate-up up-title">

			<h1 class="calculate__title calculate__title_other terras-calculate-subtitle">Калькулятор</h1>

			<h4 class="main-back-title"></h4>
			<div class="checkbox-price visually-hidden">
				<span class="froze">100</span>
				<span class="delivery">150</span>
				<span class="mounting">200</span>
			</div>
			<h2>01. Выберите модель и размер доски</h2>

			<!-- TERRAS-SLIDER-FIRST-UP -->
			<div class="terras-slider__first-up">
				
				<!-- ДОБАВИЛ id к моделям -->
				<div class="swiper-container calculate-gallery-top terras-slider-up-one" data-item="1" data-title="01. ВЫБЕРИТЕ МОДЕЛЬ И РАЗМЕР ДОСКИ">
					<div class="swiper-wrapper">

						<div class="swiper-slide" id="model-1">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage1</h3>
								<select class="price-terras">
									<option value="210">150x24</option>
									<option value="220">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-2">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage2</h3>
								<select class="price-terras">
									<option value="230">150x24</option>
									<option value="240">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-3">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage3</h3>
								<select class="price-terras">
									<option value="250">150x24</option>
									<option value="260">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-4">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage4</h3>
								<select class="price-terras">
									<option value="270">150x24</option>
									<option value="280">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-5">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage5</h3>
								<select class="price-terras">
									<option value="290">150x24</option>
									<option value="300">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-6">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage6</h3>
								<select class="price-terras">
									<option value="310">150x24</option>
									<option value="320">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-7">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage7</h3>
								<select class="price-terras">
									<option value="330">150x24</option>
									<option value="340">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-8">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage8</h3>
								<select class="price-terras">
									<option value="350">150x24</option>
									<option value="360">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-9">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage9</h3>
								<select class="price-terras">
									<option value="370">150x24</option>
									<option value="380">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide" id="model-10">
							<div class="terras-calculate__select">
								<h3>Unodeck vintage10</h3>
								<select class="price-terras">
									<option value="390">150x24</option>
									<option value="400">150x24</option>
								</select>
							</div>

							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

					</div>

					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>

				<!-- ДОБАВИЛ отдельный блок поместил в них слайдеры для каждого контейнера классы 'all-models model-&' -->
				<div class="calculate-gallery-top terras-slider-up-two" data-item="2" data-title="02. ВЫБЕРИТЕ Цвет">
					<div class="swiper-container terras-slider-up-two2 all-models model-1">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-2">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut2</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge2</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey2</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey2</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-3">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut3</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge3</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey3</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey3</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-4">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut4</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge4</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey4</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey4</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-5">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut5</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge5</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey5</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey5</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-6">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut6</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge6</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey6</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey6</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-7">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut7</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge7</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey7</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey7</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-8">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut8</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge8</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey8</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey8</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-9">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut9</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge9</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey9</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey9</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-two2 all-models model-10">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Nut10</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Venge10</h3>

								<div class="terras-top1-column">
									<img src="img/terras-venge-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey10</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey1-big.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Grey10</h3>

								<div class="terras-top1-column">
									<img src="img/terras-grey2-big.png" alt="slider1">
								</div>
							</div>



						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>
				
				</div>

				<!-- ДОБАВИЛ отдельный блок поместил в них слайдеры для каждого контейнера классы 'all-models model-&' -->
				<!-- ДОБАВИЛ ДЛЯ СЛАЙДЕРОВ КНОПКИ -->
				<div class="calculate-gallery-top terras-slider-up-three" data-item="3" data-title="03. Выберите текстуру доски">

					<div class="swiper-container terras-slider-up-three2 all-models model-1">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-2">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет2</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет2</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет2</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-3">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет3</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет3</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет3</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-4">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет4</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет4</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет4</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-5">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет5</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет5</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет5</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-6">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет6</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет6</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет6</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-7">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет7</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет7</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет7</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-8">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет8</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет8</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет8</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-9">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет9</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет9</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет9</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

					<div class="swiper-container terras-slider-up-three2 all-models model-10">
						<div class="swiper-wrapper">

							<div class="swiper-slide">
								<h3>Велвет10</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет10</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

							<div class="swiper-slide">
								<h3>Велвет10</h3>

								<div class="terras-top1-column">
									<img src="img/slider1-big1.png" alt="slider1">
								</div>
							</div>

						</div>

						<div class="swiper-button-next swiper-button-white"></div>
						<div class="swiper-button-prev swiper-button-white"></div>
					</div>

				</div>

				<div class="swiper-container calculate-gallery-top terras-slider-up-four2" data-item="4" data-title="04. Выберите способ укладки доски">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<h3>Шахматный порядок</h3>

							<div class="terras-top1-column">
								<img src="img/terras-four1-big.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3>Стык</h3>

							<div class="terras-top1-column">
								<img src="img/terras-four2-big.png" alt="slider1">
							</div>
						</div>


					</div>

					<div class="swiper-pagination"></div>

					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>


				<div class="swiper-container calculate-gallery-top terras-slider-up-five" data-item="5" data-title="05. Выберите ФОРМУ ТЕРРАСЫ И УКАЖИТЕ ГАБАРИТЫ или площадь">
					<div class="swiper-wrapper">


						<div class="swiper-slide">

							<div class="terras-top1-column">
								<h3>П-образная форма</h3>
								<div id="tab1" class="tab__box">
									<img src="img/terras-five1.png" alt="slider1">
								</div>
								<div id="tab2" class="tab__box">
									<img src="img/terras-five2.png" alt="slider1">
								</div>
								<div id="tab3" class="tab__box">
									<img src="img/terras-five4.png" alt="slider1">
								</div>

								<div id="tab4" class="tab__box">
									<img src="img/terras-five5.png" alt="slider1">
								</div>
							</div>


							<div class="div">
								<div class="fence-top-four-tabs fence-top-four-width terras-top-five-width">
									<label data-tab="#tab1" class="for-tab">
										<span>A =</span> <input type="number" class="fence-a terras-a btn-five js-btn-five" data-input="1"> <span>сm</span>
									</label>
									<label data-tab="#tab2" class="for-tab">
										<span>B =</span> <input type="number" class="fence-b terras-b btn-five js-btn-five" data-input="2"> <span>сm</span>
									</label>
									<label data-tab="#tab3" class="for-tab">
										<span>C =</span> <input type="number" class="fence-b terras-d btn-five js-btn-five" data-input="3"> <span>сm</span>
									</label>
									<label data-tab="#tab4" class="for-tab">
										<span>D =</span> <input type="number" class="fence-b terras-e btn-five js-btn-five" data-input="4"> <span>сm</span>
									</label>

									<label>
										<span>S =</span> <input type="number" class="fence-b terras-s btn-sum-five js-btn-sum-five"> <span>cm</span>
									</label>
									<button class="terras-top-five-width-button terras-top-five-width-button" type="button" data-num="5">Далее</button>
								</div>
							</div>
						</div>

						<div class="swiper-slide">

							<div class="terras-top1-column">
								<h3>Г-образная форма</h3>
								<div id="tab21" class="tab__box2">
									<img src="img/terras-five21.png" alt="slider1">
								</div>
								<div id="tab22" class="tab__box2">
									<img src="img/terras-five22.png" alt="slider1">
								</div>

								<div id="tab23" class="tab__box2">
									<img src="img/terras-five23.png" alt="slider1">
								</div>
								<div id="tab24" class="tab__box2">
									<img src="img/terras-five24.png" alt="slider1">
								</div>
							</div>


							<div class="div">
								<div class="fence-top-four-tabs2 fence-top-four-width terras-top-five-width">
									<label data-tab="#tab21" class="for-tab">
										<span>A =</span> <input type="number" class="fence-a terras-a btn-five js-btn-five2" data-input="21"> <span>сm</span>
									</label>
									<label data-tab="#tab22" class="for-tab">
										<span>B =</span> <input type="number" class="fence-b terras-b btn-five js-btn-five2" data-input="22"> <span>сm</span>
									</label>
									<label data-tab="#tab23" class="for-tab">
										<span>C =</span> <input type="number" class="fence-b terras-c btn-five js-btn-five2"  data-input="23"> <span>сm</span>
									</label>
									<label data-tab="#tab24" class="for-tab">
										<span>D =</span> <input type="number" class="fence-b terras-d btn-five js-btn-five2" data-input="24"> <span>сm</span>
									</label>

									<label>
										<span>S =</span> <input type="number" class="fence-b terras-s btn-sum-five js-btn-sum-five2"> <span>cm</span>
									</label>
									<button class="terras-top-five-width-button" type="button" data-num="5">Далее</button>
								</div>
							</div>
						</div>


						<div class="swiper-slide">

							<div class="terras-top1-column">
								<h3>Г-образная форма</h3>

								<div id="tab31" class="tab__box3">
									<img src="img/terras-five31.png" alt="slider1">
								</div>
								<div id="tab32" class="tab__box3">
									<img src="img/terras-five32.png" alt="slider1">
								</div>
								<div id="tab33" class="tab__box3">
									<img src="img/terras-five33.png" alt="slider1">
								</div>
								<div id="tab34" class="tab__box3">
									<img src="img/terras-five34.png" alt="slider1">
								</div>
							</div>


							<div class="div">
								<div class="fence-top-four-tabs3 fence-top-four-width terras-top-five-width">
									<label data-tab="#tab31" class="for-tab">
										<span>A =</span> <input type="number" class="fence-a terras-a btn-five js-btn-five3" data-input="31"> <span>сm</span>
									</label>
									<label data-tab="#tab32" class="for-tab">
										<span>B =</span> <input type="number" class="fence-b terras-b btn-five js-btn-five3" data-input="32"> <span>сm</span>
									</label>
									<label data-tab="#tab33" class="for-tab">
										<span>C =</span> <input type="number" class="fence-b terras-c btn-five js-btn-five3"  data-input="33"> <span>сm</span>
									</label>
									<label data-tab="#tab34" class="for-tab">
										<span>D =</span> <input type="number" class="fence-b terras-d btn-five js-btn-five3" data-input="34"> <span>сm</span>
									</label>

									<label>
										<span>S =</span> <input type="number" class="fence-b terras-s btn-sum-five js-btn-sum-five3"> <span>cm</span>
									</label>
									<button class="terras-top-five-width-button" type="button" data-num="5">Далее</button>
								</div>
							</div>
						</div>

						<div class="swiper-slide">

							<div class="terras-top1-column">
								<h3>Прямоугольник</h3>

								<div id="tab41" class="tab__box4">
									<img src="img/terras-five41.png" alt="slider1">
								</div>

								<div id="tab42" class="tab__box4">
									<img src="img/terras-five42.png" alt="slider1">
								</div>
							</div>

							<div class="div">
								<div class="fence-top-four-tabs4 fence-top-four-width terras-top-five-width terras-top-five-width_six">
									<label data-tab="#tab41" class="for-tab">
										<span>A =</span> <input type="number" class="fence-a terras-a btn-five js-btn-five4" data-input="41"> <span>сm</span>
									</label>
									<label data-tab="#tab42" class="for-tab">
										<span>B =</span> <input type="number" class="fence-b terras-b btn-five js-btn-five4" data-input="42"> <span>сm</span>
									</label>

									<label>
										<span>S =</span> <input type="number" class="fence-b terras-s btn-sum-five js-btn-sum-five4" > <span>cm</span>
									</label>
									<button class="terras-top-five-width-button" type="button" data-num="5">Далее</button>
								</div>
							</div>
						</div>


					</div>

					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div><!-- end slider-up -->


				<div class="swiper-container calculate-gallery-top terras-slider-up-six" data-item="6" data-title="06. Выберите модель, цвет и укажите необходимые параметры лестницы">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="terras-top1-question">
								<div class="terras-top1-question_one">
									<h3>Требуется ли установка лестницы?</h3>

									<ul>
										<li><button class="terras-btn-no" type="button">Нет</button></li>
										<li><button class="terras-btn-yes" type="button">Да</button></li>
									</ul>
								</div>

								<div class="terras-top1-question_two">
									<h3>Unodesc scala</h3>

									<ul>
										<li>
											<div class="terras-steps">
												<span class="minus">-</span>
												<span class="num">5</span>
												<span class="plus">+</span>
											</div>

											<h4>Кол-во ступеней</h4>
										</li>

										<li>
											<div class="terras-width">
												<span class="minus">-</span>
												<span class="num">3,5</span>
												<span class="plus">+</span>
											</div>

											<h4>Длина (в метрах)</h4>
										</li>

										<li>

											<div class="unit-color-block">
												<div class="unit-color"></div>

												<div class="unit-color-down">
													<div class="unit-color-item unit-color-item_active">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет орех"></span>
														<span class="unit-color__text">Орех</span>
													</div>

													<div class="unit-color-item">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет венге"></span>
														<span class="unit-color__text">Венге</span>
													</div>

													<div class="unit-color-item">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет орех"></span>
														<span class="unit-color__text">Орех</span>
													</div>

													<div class="unit-color-item">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет орех"></span>
														<span class="unit-color__text">Орех</span>
													</div>

													<div class="unit-color-item">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет орех"></span>
														<span class="unit-color__text">Орех</span>
													</div>
												</div>

												<span class="unit-title">Цвет</span>
											</div>
										</li>
									</ul>
								</div>
							</div>


							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<div class="terras-top1-question">
								<div class="terras-top1-question_one">
									<h3>Требуется ли установка лестницы?</h3>

									<ul>
										<li><button class="terras-btn-no" type="button">Нет</button></li>
										<li><button class="terras-btn-yes" type="button">Да</button></li>
									</ul>
								</div>

								<div class="terras-top1-question_two">
									<h3>Unodesc scala</h3>

									<ul>
										<li>
											<div class="terras-steps">
												<span class="minus">-</span>
												<span class="num">5</span>
												<span class="plus">+</span>
											</div>

											<h4>Кол-во ступеней</h4>
										</li>

										<li>
											<div class="terras-width">
												<span class="minus">-</span>
												<span class="num">3,5</span>
												<span class="plus">+</span>
											</div>

											<h4>Длина (в метрах)</h4>
										</li>

										<li>
											<div class="unit-color-block">
												<div class="unit-color"></div>

												<div class="unit-color-down">
													<div class="unit-color-item unit-color-item_active">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет орех"></span>
														<span class="unit-color__text">Орех</span>
													</div>

													<div class="unit-color-item">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет венге"></span>
														<span class="unit-color__text">Венге</span>
													</div>

													<div class="unit-color-item">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет орех"></span>
														<span class="unit-color__text">Орех</span>
													</div>

													<div class="unit-color-item">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет орех"></span>
														<span class="unit-color__text">Орех</span>
													</div>

													<div class="unit-color-item">
														<span class="unit-color__img"><img src="img/cicrle-terras.png" alt="цвет орех"></span>
														<span class="unit-color__text">Орех</span>
													</div>
												</div>

												<span class="unit-title">Цвет</span>
											</div>
										</li>
									</ul>
								</div>
							</div>


							<div class="terras-top1-column">
								<img src="img/slider1-big1.png" alt="slider1">
							</div>
						</div>


					</div>

					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>

			</div><!-- end terras-slider-first-up -->

			<button class="calculate-up-button" type="button">Далее</button>

		</div><!-- end calculate-up -->

		<div class="calculate-tabs">
			<ul>
				<li class="calculate-tabs_active" data-item="1"><a href="#">01 / <span>Модель</span></a></li>
				<li data-item="2"><a href="#">02 / <span>Цвет</span></a></li>
				<li data-item="3"><a href="#">03 / <span>Текстура</span></a></li>
				<li data-item="4"><a href="#">04 / <span>Способ укладки</span></a></li>
				<li data-item="5"><a href="#">05 / <span>Форма и размер террасы</span></a></li>
				<li data-item="6"><a href="#">06 / <span>Ступени</span></a></li>
			</ul>
		</div><!-- end terras-calculate__tabs -->


		<!-- terras-calculate__down -->
		<div class="terras-calculate__down">


			<div class="swiper-container calculate-gallery-thumbs terras-gallery-thumbs-one" data-item="1">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage1</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage2</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage3</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage4</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage5</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage6</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage7</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage8</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage9</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck vintage10</span>
					</div>
				</div>

				<!-- Add Scrollbar -->
				<div class="swiper-scrollbar"></div>
			</div>

			<!-- ДОБАВИЛ отдельный блок поместил в них слайдеры для каждого контейнера классы 'all-models model-&' -->
			<div class="calculate-gallery-thumbs terras-gallery-thumbs-two" data-item="2">

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-1">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-2">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut2</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge2</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey2</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey2</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-3">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut3</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge3</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey3</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey3</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-4">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut4</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge4</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey4</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey4</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-5">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut5</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge5</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey5</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey5</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-6">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut6</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge6</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey6</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey6</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-7">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut7</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge7</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey7</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey7</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-8">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut8</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge8</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey8</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey8</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-9">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut9</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge9</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey9</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey9</span>
						</div>



					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-two2 all-models model-10">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Nut10</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge10</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey1-small.png" alt="slider1-down">
							</div>
							<span>Grey10</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/terras-grey2-small.png" alt="slider1-down">
							</div>
							<span>Grey10</span>
						</div>



					</div>
				</div>

			</div>

			<!-- ДОБАВИЛ отдельный блок поместил в них слайдеры для каждого контейнера классы 'all-models model-&' -->
			<div class="calculate-gallery-thumbs terras-gallery-thumbs-three" data-item="3">

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-1">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-2">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет2</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет2</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет2</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-3">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет3</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет3</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет3</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-4">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет4</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет4</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет4</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-5">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет5</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет5</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет5</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-6">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет6</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет6</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет6</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-7">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет7</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет7</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет7</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-8">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет8</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет8</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет8</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-9">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет9</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет9</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет9</span>
						</div>


					</div>
				</div>

				<div class="swiper-container terras-gallery-thumbs-three2 all-models model-10">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет10</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет10</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/slider1-small.png" alt="slider1-down">
							</div>
							<span>Мелкий велвет10</span>
						</div>


					</div>
				</div>

			</div>

			<div class="swiper-container calculate-gallery-thumbs terras-gallery-thumbs-four2" data-item="4">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/terras-four1-small.png" alt="slider1-down">
						</div>
						<span>Шахматный порядок</span>
					</div>


					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/terras-four2-small.png" alt="slider1-down">
						</div>
						<span>Cтык</span>
					</div>

				</div>
			</div>


			<div class="swiper-container calculate-gallery-thumbs terras-gallery-thumbs-five" data-item="5">
				<div class="swiper-wrapper">


					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/terras-five1-small.png" alt="slider1-down">
						</div>
						<span>П-образная</span>
					</div>


					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/terras-five3-small.png" alt="slider1-down">
						</div>
						<span>Г-образная</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/terras-five2-small.png" alt="slider1-down">
						</div>
						<span>Г-образная</span>
					</div>


					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/terras-five4-small.png" alt="slider1-down">
						</div>
						<span>Прямоугольник</span>
					</div>


				</div>
			</div>

			<div class="swiper-container calculate-gallery-thumbs terras-gallery-thumbs-six" data-item="6">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck Scala</span>
					</div>


					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/slider1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck Vintage</span>
					</div>

				</div>
			</div>

		</div><!--end slider down -->

	</div><!--end slider down -->




	<!-- FENCE CALCULATE -->
	<div class="fence-calculate fence-calculate_top hide">

		<div class="calculate-up up-title">
			<h1 class="calculate__title calculate__title_other terras-calculate-subtitle">Калькулятор</h1>
			<h4 class="main-back-title2"></h4>
			<div class="checkbox-price visually-hidden">
				<span class="froze">100</span>
				<span class="delivery">150</span>
				<span class="mounting">200</span>
			</div>
			<h2>01. Укажите модель</h2>

			<!-- ДОБАВИЛ id fence-model-&' -->
			<div class="swiper-container calculate-gallery-top fence-slider_up-one" data-item="1" data-title="01. Укажите модель">
				<div class="swiper-wrapper">


					<div class="swiper-slide" id="fence-model-1">
						<div class="terras-calculate__select">
							<h3 class="js-title1">Unodeck forte</h3>
							<select class="js-size1 price-fence">
								<option value="200">140x12</option>
								<option value="210">140x12</option>
							</select>
						</div>

						<div class="fence-top1-column">
							<img src="img/fence1.png" alt="slider1">
						</div>
					</div>

					<div class="swiper-slide" id="fence-model-2">
						<div class="terras-calculate__select">
							<h3 class="js-title1">Unodeck patio</h3>
							<select class="js-size1 price-fence">
								<option value="220">140x12</option>
								<option value="150x24">140x12</option>
							</select>
						</div>

						<div class="fence-top1-column">
							<img src="img/fence2.png" alt="slider1">
						</div>
					</div>

				</div>

				<div class="swiper-button-next swiper-button-white"></div>
				<div class="swiper-button-prev swiper-button-white"></div>
			</div><!-- end slider-up -->


			<!-- ДОБАВИЛ отдельный блок поместил в них слайдеры для каждого контейнера классы 'all-models fence-model-&' -->
			<div class="calculate-gallery-top fence-slider_up-two" data-item="2" data-title="02. Выберите цвет">

				<div class="swiper-container fence-slider_up-two2 all-models fence-model-1">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<h3 class="calculate-subtitle">Nut</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3 class="calculate-subtitle">Venge</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3 class="calculate-subtitle">Grey</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3 class="calculate-subtitle">Grey</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

					</div>

					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>

				<div class="swiper-container fence-slider_up-two2 all-models fence-model-2">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<h3 class="calculate-subtitle">Nut2</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3 class="calculate-subtitle">Venge2</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3 class="calculate-subtitle">Grey2</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3 class="calculate-subtitle">Grey2</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

					</div>

					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>

			</div>

			<!-- ДОБАВИЛ отдельный блок поместил в них слайдеры для каждого контейнера классы 'all-models fence-model-&' -->
			<div class="calculate-gallery-top fence-slider_up-three" data-item="3" data-title="03. Выберите текстуру доски">

				<div class="swiper-container fence-slider_up-three2 all-models fence-model-1">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<h3>Патио</h3>

							<div class="fence-top1-column">
								<img src="img/fence1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3>Состаренное дерево</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

					</div>

					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>

				<div class="swiper-container fence-slider_up-three2 all-models fence-model-2">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<h3>Патио2</h3>

							<div class="fence-top1-column">
								<img src="img/fence1.png" alt="slider1">
							</div>
						</div>

						<div class="swiper-slide">
							<h3>Состаренное дерево2</h3>

							<div class="fence-top1-column">
								<img src="img/fence2.png" alt="slider1">
							</div>
						</div>

					</div>

					<div class="swiper-button-next swiper-button-white"></div>
					<div class="swiper-button-prev swiper-button-white"></div>
				</div>

			</div>

			<div class="swiper-container calculate-gallery-top fence-slider_up-four" data-item="4" data-title="04. Укажите высоту и метраж забора">
				<div class="swiper-wrapper">


					<div class="swiper-slide">
						<div class="fence-top-four">
							<h3>Высота и длина забора</h3>
							<img src="img/fence-four.png" alt="slider1">
						</div>

						<div class="div">
							<div class="fence-top-four-block">
								<div class="fence-top-four-width">
									<label>
										<span>A =</span> <input type="text" class="fence-input fence-a"> <span>сm</span>
									</label>
									<label>
										<span>B =</span> <input type="text" class="fence-input fence-b"> <span>сm</span>
									</label>
								</div>

								<div class="fence-top-four-column">
									<div class="fence-top-four-door">
										<h3>Нужны ли ворота?</h3>

										<div class="fence-top-four-select js-gate">
											<span class="fence-top-four-gate_active">Да</span>
											<span>Нет</span>
										</div>
									</div>

									<div class="fence-top-four-door js-wicket">
										<h3>Нужны ли калитка?</h3>

										<div class="fence-top-four-select">
											<span class="fence-top-wicket_active">Да</span>
											<span>Нет</span>
										</div>
									</div>
								</div>
								<button class="fence-top-four-button" type="button" data-num="4">Далее</button>
							</div>
						</div>

					</div>


				</div>

			</div><!-- end slider-up -->

			<div class="swiper-container calculate-gallery-top fence-slider_up-five" data-item="5" data-title="05. Укажите ширину ворот">

				<div class="swiper-wrapper">


					<div class="swiper-slide">
						<h3 class="calculate-subtitle">Откатные</h3>

						<div class="fence-top1-column">
							<div class="fence-five-door_block">
								<span class="fence-five-door_b">B</span>

								<div class="fence-five-door_calc">
									<span class="minus">—</span>
									<span class="answer">3,5</span>
									<span>М</span>
									<span class="plus">+</span>
								</div>
							</div>

							<img src="img/door2.png" alt="slider1">

						</div>

						<div class="fence-door-price visually-hidden">1000</div>
					</div>

					<div class="swiper-slide">
						<h3 class="calculate-subtitle">Двухстворчатые</h3>



						<div class="fence-top1-column">
							<div class="fence-five-door_block">
								<span class="fence-five-door_b">B</span>

								<div class="fence-five-door_calc">
									<span class="minus">—</span>
									<span class="answer">3,5</span>
									<span>М</span>
									<span class="plus">+</span>
								</div>
							</div>


							<picture>
								<source srcset="img/fence-five.png" media="(min-width: 1200px)" />
								<img src="img/fence-five-tablet.png" alt="slider1">
							</picture>
						</div>

						<div class="fence-door-price visually-hidden">2000</div>

					</div>




				</div><!-- end slider-up -->


				<div class="swiper-button-next swiper-button-white"></div>
				<div class="swiper-button-prev swiper-button-white"></div>
			</div><!-- end block-u -->

			<button class="calculate-up-button" type="button" data-num="1">Далее</button>

			<div class="calculate-tabs">
				<ul>
					<li class="calculate-tabs_active" data-item="1"><a href="#">01 / <span>Модель</span></a></li>
					<li data-item="2"><a href="#">02 / <span>Цвет</span></a></li>
					<li data-item="3"><a href="#">03 / <span>Текстура</span></a></li>
					<li data-item="4"><a href="#">04 / <span>Длина и ширина</span></a></li>
					<li data-item="5"><a href="#">05 / <span>Ворота</span></a></li>
				</ul>
			</div><!-- end terras-calculate__tabs -->

			<div class="swiper-container calculate-gallery-thumbs fence-gallery_thumbs-one" data-item="1">
				<div class="swiper-wrapper">


					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/fence1-small.png" alt="slider1-down">
						</div>
						<span>Unodeck forte</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/fence2-small.png" alt="slider1-down">
						</div>
						<span>Unodeck pation</span>
					</div>

				</div>

				<!-- Add Scrollbar -->
				<div class="swiper-scrollbar"></div>
			</div><!--end slider down -->


			<!-- ДОБАВИЛ отдельный блок поместил в них слайдеры для каждого контейнера классы 'all-models fence-model-&' -->
			<div class="calculate-gallery-thumbs fence-gallery_thumbs-two" data-item="2">

				<div class="swiper-container fence-gallery_thumbs-two2 all-models fence-model-1">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence2-small.png" alt="slider1-down">
							</div>
							<span>Nut</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence-grey-small.png" alt="slider1-down">
							</div>
							<span>Grey</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence-grey-small2.png" alt="slider1-down">
							</div>
							<span>Grey</span>
						</div>



					</div>

					<!-- Add Scrollbar -->
					<div class="swiper-scrollbar"></div>
				</div>

				<div class="swiper-container fence-gallery_thumbs-two2 all-models fence-model-2">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence2-small.png" alt="slider1-down">
							</div>
							<span>Nut2</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence-venge-small.png" alt="slider1-down">
							</div>
							<span>Venge2</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence-grey-small.png" alt="slider1-down">
							</div>
							<span>Grey2</span>
						</div>


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence-grey-small2.png" alt="slider1-down">
							</div>
							<span>Grey2</span>
						</div>



					</div>

					<!-- Add Scrollbar -->
					<div class="swiper-scrollbar"></div>
				</div>

			</div>

			<!-- ДОБАВИЛ отдельный блок поместил в них слайдеры для каждого контейнера классы 'all-models fence-model-&' -->
			<div class="calculate-gallery-thumbs fence-gallery_thumbs-three" data-item="3">

				<div class="swiper-container fence-gallery_thumbs-three2 all-models fence-model-1">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence1-small.png" alt="slider1-down">
							</div>
							<span>Патио</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence2-small.png" alt="slider1-down">
							</div>
							<span>Состаренное дерево</span>
						</div>

					</div>

					<!-- Add Scrollbar -->
					<div class="swiper-scrollbar"></div>
				</div>

				<div class="swiper-container fence-gallery_thumbs-three2 all-models fence-model-2">
					<div class="swiper-wrapper">


						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence1-small.png" alt="slider1-down">
							</div>
							<span>Патио2</span>
						</div>

						<div class="swiper-slide">
							<div class="gallery-thumbs1-column">
								<img src="img/fence2-small.png" alt="slider1-down">
							</div>
							<span>Состаренное дерево2</span>
						</div>

					</div>

					<!-- Add Scrollbar -->
					<div class="swiper-scrollbar"></div>
				</div>

			</div>

			<div class="fence-four-down calculate-gallery-thumbs" data-item="4"></div>

			<div class="swiper-container calculate-gallery-thumbs fence-gallery_thumbs-five" data-item="5">
				<div class="swiper-wrapper">


					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/fence-five-small1.png" alt="slider1-down">
						</div>
						<span>Откатные</span>
					</div>

					<div class="swiper-slide">
						<div class="gallery-thumbs1-column">
							<img src="img/fence-five-small2.png" alt="slider1-down">
						</div>
						<span>Двухстворчатые</span>
					</div>


				</div>

				<!-- Add Scrollbar -->
				<div class="swiper-scrollbar"></div>
			</div><!--end slider down -->

		</div><!--  end fence calculate  -->
	</div><!-- end fence form -->


</section>

<!-- FORM FOR FENCE -->
<div class="fence-form">
	<div class="fence-form__inner">


		<div class="fence-form__buttons">
			<a class="fence-form__back" href="#">
				<img src="img/calculate-prev.png" alt="back">
				<span>Назад</span>
			</a>
			<a class="fence-form__again" href="#">Начать заново</a>
		</div>

		<div class="fence-form-columns">
			<div class="fence-form-column__first">
				<p class="fence-form__img"><span><img src="img/slider1-big1.png" alt="Результат"></span></p>

				<div class="fence-form-square__calc">
					<p class="fence-form__square">S = <span>125</span>М<sup>2</sup></p>


					<div class="fence-form__name">
						<h2>Unodeck vintage</h2>
						<p><span>Nut</span> / <span>Velvet</span></p>
					</div>
				</div>

				<p class="fence-form__options">Пожалуйста добавьте дополнительные опции, если они требуются</p>

				<ul class="fence-form__checkbox">
					<li>
						<input type="checkbox" id="one"><label for="one">Замер</label>
					</li>
					<li>
						<input type="checkbox" id="two"><label for="two">Доставка</label>
					</li>
					<li>
						<input type="checkbox" id="three"><label for="three">Монтаж</label>
					</li>
				</ul>

				<p class="fence-form__sum-origin"><span></span> рублей</p>

				<div class="fence-form__bottom">
					<button type="button">Отправить расчет на почту</button>
					<a><img src="img/arrow-down_white.png" alt="slidebottom"></a>
				</div>
			</div>


			<div class="fence-form-column__second">
				<form method="post" class="fence-form__form" enctype="multipart/form-data">


					<div class="fence-form-line">
						<div class="fence-form__subname">
							<h3>Unodeck vintage</h3>
							<p><span>Nut</span> / <span>Velvet</span></p>
						</div>


						<p class="fence-form__sum"><span>250 000</span> рублей</p>
					</div>

					<p class="fence-form-description">Оставьте свои данные или перезвоните нам 8 (800) 649 84 47 и наши специалисты проконсультируют вас о всех тонкостях строительства террас, расскажут о материалах, особенностях монтажа и рассчитают стоимость.</p>

					<div class="fence-form-input_box">
						<input type="text" placeholder="Имя" class="fence-form__input js-name" required>
						<input type="text" placeholder="Телефон" class="fence-form__input js-phone" required>
						<input type="email" placeholder="Email" class="fence-form__input js-email" required>
					</div>

					<textarea name="" placeholder="Ваш комментарий или вопрос" class="fence-form__textarea"></textarea>

					<div class="fence-form__files-block">
						<input type="file" placeholder="Прикрепить свои файлы" multiple accept="image/*,image/jpeg" class="fence-form__files" id="files">
						<label for="files">ПРИКРЕПИТЬ СВОЙ ФАЙЛЫ</label>
					</div>

					<div class="fence-form__send">
						<a href="#">Скачать расчет в pdf</a>
						<button type="submit">Отправить расчет на почту</button>
					</div>

					<p class="fence-form__attansion">Нажимая на кнопку "Отправить", вы принимаете условия пользовательского соглашения и даете согласие на обработку персональных данных</p>

				</form>
			</div>

		</div>

	</div>
</div>

