.service-block.line-bottom
    p.main-title.service-block__title 
        b Услуги 
        |indiwood

    ul.photo-list.photo-list_service
        li.photo-list__item

            .photo-list__content.article
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        li.photo-list__item
            .photo-list__img
                img(src="img/service-1.jpg")

            ul.photo-list__article
                li 01
                li выезд на объект
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-2.jpg")

            ul.photo-list__article
                li 02
                li Замер
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-3.jpg")

            ul.photo-list__article
                li 03
                li Геодезия
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-4.jpg")

            ul.photo-list__article
                li 04
                li Проектирование
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-5.jpg")

            ul.photo-list__article
                li 05
                li Визуализация
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-6.jpg")

            ul.photo-list__article
                li 06
                li Все материалы
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-7.jpg")

            ul.photo-list__article
                li 07
                li Доставка
                li
                    button(type="button").btn.photo-list__btn Подробнее

        li.photo-list__item
            .photo-list__img
                img(src="img/service-8.jpg")

            ul.photo-list__article
                li 08
                li Монтаж
                li
                    button(type="button").btn.photo-list__btn Подробнее


.gallery-block.line-bottom
    p.main-title.gallery-block__title 
        b Галерея 
        |indiwood

    .gallery-indiwood.swiper-container
        .swiper-wrapper
            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-1.jpg")

                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-2.jpg")

                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            .swiper-slide
                .gallery-indiwood__img
                    img(src="img/ig-1.jpg")

                ul.gallery-indiwood__cont
                    li
                        p.gallery-indiwood__title Royal beach
                        p.gallery-indiwood__sub-title Yacht club
                    li
                        p.gallery-indiwood__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        .gallery-indiwood__nav        
            .swiper-button-next
            .swiper-button-prev

.about-block.line-bottom
    p.main-title.about-block__title о indiwood
    p.about-block__sub-title The smartest people work every day to provide the best service and to make our clients happy
    
    .about-block__inner
        .swiper-container.tab-links.tab-links_mob
            .swiper-wrapper
                .swiper-slide
                    a(href="#aboutComp").product-link.is-active О компании
                .swiper-slide
                    a(href="#howWork").product-link Как мы работаем
                .swiper-slide
                    a(href="#warranty").product-link Гарантии
                .swiper-slide
                    a(href="#production").product-link Производство
                .swiper-slide
                    a(href="#vacancies").product-link Вакансии
                    
        ul.about-tabs.tab-links.tab-links_desc
            li
                a(href="#aboutComp") О компании
            li
                a(href="#howWork") Как мы работаем
            li
                a(href="#warranty") Гарантии
            li
                a(href="#production") Производство
            li
                a(href="#vacancies") Вакансии
        
        .tab-block#aboutComp
            .about-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                
                .about-slider__nav
                    .swiper-button-next
                    .swiper-button-prev
        .tab-block#howWork
            .about-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                
                .about-slider__nav
                    .swiper-button-next
                    .swiper-button-prev
        .tab-block#warranty
            .about-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                
                .about-slider__nav
                    .swiper-button-next
                    .swiper-button-prev
        .tab-block#production
            .about-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                
                .about-slider__nav
                    .swiper-button-next
                    .swiper-button-prev
        .tab-block#vacancies
            .about-slider.swiper-container
                .swiper-wrapper
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    
                    .swiper-slide
                        ul.about-slider__block
                            li
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                
                                p.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            li
                                .about-slider__img
                                    img(src="img/news.jpg")
                            li
                                p.about-slider__quote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                
                .about-slider__nav
                    .swiper-button-next
                    .swiper-button-prev

.team-block.line-bottom
    p.main-title.team-block__title
        b Команда 
        |indiwood

    .team-block__inner
        .swiper-container.team-gallery
            .swiper-wrapper
                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

                .swiper-slide
                    ul.team-gallery__list
                        li
                            .team-gallery__image.team-gallery__image_big
                                img(src="img/team.jpg")
                            p.team-gallery__name James Read
                            p.team-gallery__prof Technical manager
                        li
                            p.team-gallery__article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur

            .swiper-button-next.swiper-button-black
            .swiper-button-prev.swiper-button-black

        .swiper-container.team-gallery-thumbs
            .swiper-wrapper
                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

                .swiper-slide
                    .team-gallery__image.team-gallery__image_thumb
                        img(src="img/team.jpg")
                    p.team-gallery__name.team-gallery__name_thumb James Read
                    p.team-gallery__prof Technical manager

.news-block.line-bottom
    p.main-title.news-block__title 
        |indiwood 
        b новости

    ul.news-top
        li.news-top__item
            p.news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
            
            ul.news-preview-list
                li
                    p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                li
                    p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
            .read-more
                a(href="#") read more
                
        li.news-top__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
            
            ul.news-preview-list
                li
                    p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                li
                    p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
            .read-more
                a(href="#") read more
                
    ul.news-bottom
        li.news-bottom__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
                    
            p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
            .read-more
                a(href="#") read more
            
        li.news-bottom__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
                    
            p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
            
            .read-more
                a(href="#") read more
            
        li.news-bottom__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
                    
            p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
            
            .read-more
                a(href="#") read more
            
        li.news-bottom__item
            .news-date 15th november 2020
            p.news-title Royal beach
            p.news-sup-title yacht club
            
            .news-img
                img(src="img/news.jpg")
                    
            p.news-article.article Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  
            
            .read-more
                a(href="#") read more    

    .news-block__btn-wrap
        button(type="button").btn.news-block__btn Смотреть еще    

.seo-block.line-bottom
    p.main-title.seo-block__title indiwood seo 
        b текст
        
    ul.seo-block__cont.article
        li
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        li
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    
    .seo-block__btn-wrap
        button(type="button").btn.btn-black.call-btn оставить заявку    
            
.contact-block    
    .contact-block__item.contact-block__item_left
        p.contact-block__title Свяжитесь с нами
        
        .contact-info
            .contact-info__item
                p.contact-info__title MOSCOW /
                ul.contact-info__list
                    li SW1A 2AA, 10 Downing Street
                    li 5/2 9:00 - 18:00
                        
            .contact-info__item
                p.contact-info__title ТЕЛЕФОН /
                ul.contact-info__list
                    li 
                        a(href="tel:74953200000") +7 (495) 320 0000
                    li 
                        a(href="tel:79214653576") +7 (921) 465 3576
                    li 
                        a(href="tel:79214653576") +7 (921) 465 3576
                    
            .contact-info__item
                p.contact-info__title EMAIL /
                ul.contact-info__list
                    li
                        a(href="mailto:ask@Pr@indiwood.ru") Pr@indiwood.ru
                    li
                        a(href="mailto:SALES@indiwood.ru") SALES@indiwood.ru
                    li
                        a(href="mailto:SALES@indiwood.ru") SALES@indiwood.ru
                        
    .contact-block__item.contact-block__item_right
        form.form-recal
            .form-recal__inp
                input(type="text" placeholder="Ваше имя").inp
                input(type="text" placeholder="Email").inp
            textarea.textarea
            
            .form-recal__btn-wrap
                button(type="submit").btn.form-recal__btn Отправить    
                
.map-block#mapmain
