.content-page
    .link-back.link-back_mob
        a(href="#") Назад
        
    p.content-title-mob.content-page__title-mob Наши услуги
    
    .service-list-slider.swiper-container.service-tabs-mob
        .swiper-wrapper
            .swiper-slide
                a(href="#serviceTab-1").product-link.is-active Выезд на объект
            .swiper-slide
                a(href="#serviceTab-2").product-link Замер
            .swiper-slide
                a(href="#serviceTab-3").product-link Геодезия
            .swiper-slide
                a(href="#serviceTab-4").product-link Проектирование
            .swiper-slide
                a(href="#serviceTab-5").product-link Отрисовка рендеров
            .swiper-slide
                a(href="#serviceTab-6").product-link Все материалы
            .swiper-slide
                a(href="#serviceTab-7").product-link Доставка
            .swiper-slide
                a(href="#serviceTab-8").product-link Монтаж
    
    .service-slider-mob.swiper-container
        .swiper-wrapper
            .swiper-slide
                img(src="img/page-img-1.jpg")
            .swiper-slide
                img(src="img/page-img-2.jpg")
            .swiper-slide
                img(src="img/page-img-3.jpg")
        
        .swiper-pagination
            
    .content-page__inner

        .sidebar.sidebar-page.content-page__column
            .link-back
                a(href="#") Назад
            
            .sidebar__title.sidebar__title_inner Наши услуги

            ul.sidebar-list.sidebar-list_page.service-tabs
                li
                    a(href="#serviceTab-1").is-active Выезд на объект
                li   
                    a(href="#serviceTab-2") Замер
                li
                    a(href="#serviceTab-3") Геодезия
                li
                    a(href="#serviceTab-4") Проектирование
                li
                    a(href="#serviceTab-5") Отрисовка рендеров
                li
                    a(href="#serviceTab-6") Все материалы
                li
                    a(href="#serviceTab-7") Доставка
                li
                    a(href="#serviceTab-8") Монтаж

        .content-page__column.content-page__image
            img(src="img/page-img-1.jpg")
            img(src="img/page-img-2.jpg")
            img(src="img/page-img-3.jpg")

        .content-page__column
            .tab-service
                .service-info
                    .service-info__tab#serviceTab-1
                        p.tab-service__title Выезд на объект
                        p.tab-service__sub-title Design
                        .tab-service__article.article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        
                    .service-info__tab#serviceTab-2
                        p.tab-service__title Замер
                        p.tab-service__sub-title Design
                        .tab-service__article.article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    
                    .service-info__tab#serviceTab-3
                        p.tab-service__title Геодезия
                        p.tab-service__sub-title Design
                        .tab-service__article.article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    
                    .service-info__tab#serviceTab-4
                        p.tab-service__title Проектирование
                        p.tab-service__sub-title Design
                        .tab-service__article.article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            
                    .service-info__tab#serviceTab-5
                        p.tab-service__title Отрисовка рендеров
                        p.tab-service__sub-title Design
                        .tab-service__article.article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    
                    .service-info__tab#serviceTab-6
                        p.tab-service__title  Все материалы
                        p.tab-service__sub-title Design
                        .tab-service__article.article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    
                    .service-info__tab#serviceTab-7
                        p.tab-service__title  Доставка
                        p.tab-service__sub-title Design
                        .tab-service__article.article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    
                    .service-info__tab#serviceTab-8
                        p.tab-service__title Монтаж
                        p.tab-service__sub-title Design
                        .tab-service__article.article
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    
                    .service-info__btn-wrap
                        button(type="button").tab-service__btn.btn Сделать заявку
        
                
