
        
            
.recall-modal.modal
    form.recall-modal__inner
        button(type="button").close-modal
        p.recall-modal__title Закажите обратный звонок

        input(type="text" placeholder="Ваше имя").recall-modal__inp
        input(type="text" placeholder="Ваш номер телефона").recall-modal__inp

        ul.time-select
            li.time-select__item
                .time-select__wrap
                    select.select-cat
                        option 9:00
                        option 10:00
                        option 11:00
                        option 12:00
                        option 13:00
                        option 14:00
                        option 15:00
                        option 16:00
                        option 17:00
                        option 18:00
                        option 19:00
                        option 20:00
                        option 21:00
                        option 22:00
                        option 23:00
            li.time-select__item
                .time-select__wrap
                    select.select-cat
                        option 9:00
                        option 10:00
                        option 11:00
                        option 12:00
                        option 13:00
                        option 14:00
                        option 15:00
                        option 16:00
                        option 17:00
                        option 18:00
                        option 19:00
                        option 20:00
                        option 21:00
                        option 22:00
                        option 23:00
        p.convenient-time Удобный временной интервал для звонка

        .recall-modal__btn-wrap
            button(type="submit").btn.recall-modal__btn Заказать звонок


.overlay
