header.header.header-opacity.header-main#header
    .header__inner
        .header__item
            .logo 
                .logo__name Indiwood
                .logo__article individual wood solutions

            .burger

        .header__item
            nav.main-nav#mainMenu
                ul
                    li
                        a(href=".content__catalog") Каталог
                    li
                        a(href=".calculate").active Калькулятор
                    li
                        a(href=".about-block") О нас
                    li
                        a(href=".contact-block") Контакты

        .header__item
            ul.phone-block
                li
                    a(href="tel:7499787995").phone +7 (499) 787 99 5
                li
                    span.work-time 5/2    9:00 - 18:00

            button(type="button").recall.call-btn
                span Заказать звонок

.dropdown-menu
    .dropdown-menu__item
        .dropdown-menu__title menu
        //- button(type="button").close-menu.close-menu_mob

        ul.dropdown-menu__list.dropdown-menu__list_main
            li
                a(href=".main-banner") Главная
            li
                a(href=".content__inner_product") Карточка товара
            li
                a(href=".content__catalog") Каталог
            li
                a(href=".application-block") Область применения
            li
                a(href=".calculate") Калькулятор
            li
                a(href=".service-block") Услуги
            li
                a(href=".gallery-block") Галерея
            li
                a(href=".about-block") О компании
            li
                a(href=".contact-block") Контакты










