header.header.header_page
    .header__inner
        .header__item
            .logo 
                .logo__name Indiwood
                .logo__article individual wood solutions
            
            .burger
                
        .header__item
            nav.main-nav
                ul
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Калькулятор
                    li
                        a(href="#") О нас
                    li
                        a(href="#") Контакты
                    
        .header__item
            ul.phone-block
                li
                    a(href="tel:7499787995").phone +7 (499) 787 99 5
                li
                    span.work-time 5/2    9:00 - 18:00
            
            button(type="button").recall.call-btn
                span Заказать звонок
            
.dropdown-menu
    .dropdown-menu__item
        .dropdown-menu__title menu
        //- button(type="button").close-menu.close-menu_mob
        
        ul.dropdown-menu__list
            li
                a(href="#") Главная
            li
                a(href="#") Карточка товара
            li
                a(href="#") Каталог
            li
                a(href="#") Область применения
            li
                a(href="#") Калькулятор
            li
                a(href="#") Услуги
            li
                a(href="#") Галерея
            li
                a(href="#") О компании
            li
                a(href="#") Контакты
            
            
            
            
            
            
            
            
            
            
