//- ul.scroll-indicate
//-     li
//-         a(href=".main-banner").scroll-indicate__link.link-1.is-active 01
//-     li
//-         a(href=".card-top").scroll-indicate__link.link-2 02
//-     li
//-         a(href=".catalog-top").scroll-indicate__link.link-3 03
//-     li
//-         a(href=".application-block").scroll-indicate__link.link-4 04
//-     li
//-         a(href=".calculate").scroll-indicate__link.link-5 05
//-     li
//-         a(href=".service-block").scroll-indicate__link.link-6 06
//-     li
//-         a(href=".gallery-block").scroll-indicate__link.link-7 07
//-     li
//-         a(href=".about-block").scroll-indicate__link.link-8 08
//-     li
//-         a(href=".team-block").scroll-indicate__link.link-9 09
//-     li
//-         a(href=".news-block").scroll-indicate__link.link-10 10
//-     li
//-         a(href=".seo-block").scroll-indicate__link.link-11 11
//-     li
//-         a(href=".contact-block").scroll-indicate__link.link-12 12
//-     li
//-         a(href=".map-block").scroll-indicate__link.link-13 13
