extends ../layout/layout.pug
block vars
	- var title = 'Внутренняя';
block header
	include ../includes/header-inner.pug
block content
	include ../includes/content-cont.pug
block footer
	include ../includes/footer.pug