@font-face {
    font-family: "Optima";
    src: url("../fonts/Optima/Optima.eot");
    src: local('☺'), url("../fonts/Optima/Optima.woff") format('woff'), url("../fonts/Optima/Optima.ttf") format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AtlasGrotesk";
    src: url("../fonts/AtlasGrotesk-Medium/AtlasGrotesk-Medium.eot");
    src: local('☺'), url("../fonts/AtlasGrotesk-Medium/AtlasGrotesk-Medium.woff") format('woff'), url("../fonts/AtlasGrotesk-Medium/AtlasGrotesk-Medium.ttf") format('truetype');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Optima";
    src: url("../fonts/Optima-Bold/Optima-Bold.eot");
    src: local('☺'), url("../fonts/Optima-Bold/Optima-Bold.woff") format('woff'), url("../fonts/Optima-Bold/Optima-Bold.ttf") format('truetype');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/avenirnextcyr-light/avenirnextcyr-light.eot");
    src: local('☺'), url("../fonts/avenirnextcyr-light/avenirnextcyr-light.woff") format('woff'), url("../fonts/avenirnextcyr-light/avenirnextcyr-light.ttf") format('truetype');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeueRegular/BebasNeueRegular.eot");
    src: local('☺'), url("../fonts/BebasNeueRegular/BebasNeueRegular.woff") format('woff'), url("../fonts/BebasNeueRegular/BebasNeueRegular.ttf") format('truetype');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-regular/Avenir-regular.eot");
    src: local('☺'), url("../fonts/Avenir-regular/Avenir-regular.woff") format('woff'), url("../fonts/Avenir-regular/Avenir-regular.ttf") format('truetype');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir";
    src: url("../fonts/Avenir-Medium/Avenir-Medium.eot");
    src: local('☺'), url("../fonts/Avenir-Medium/Avenir-Medium.woff") format('woff'), url("../fonts/Avenir-Medium/Avenir-Medium.ttf") format('truetype');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

// @font-face {
//     font-family: "Avenir";
//     src: url("../fonts/Avenir-Book/Avenir-Book.eot");
//     src: local('☺'), url("../fonts/Avenir-Book/Avenir-Book.woff") format('woff'), url("../fonts/Avenir-Book/Avenir-Book.ttf") format('truetype');
//     font-display: swap;
//     font-weight: 300;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Avenir";
//     src: url("../fonts/Avenir-Heavy/Avenir-Heavy.eot");
//     src: local('☺'), url("../fonts/Avenir-Heavy/Avenir-Heavy.woff") format('woff'), url("../fonts/Avenir-Heavy/Avenir-Heavy.ttf") format('truetype');
//     font-display: swap;
//     font-weight: 500;
//     font-style: normal;
// }
