@font-face {
	font-family: "FiraSans";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/FiraSans-Light-Regular/FiraSans-Light-Regular.woff") format("woff"),
		url("../fonts/FiraSans-Light-Regular/FiraSans-Light-Regular.eot") format("eot"),
		url("../fonts/FiraSans-Light-Regular/FiraSans-Light-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "FiraSans";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/FiraSans-Medium/FiraSans-Medium.woff") format("woff"),
		url("../fonts/FiraSans-Medium/FiraSans-Medium.eot") format("eot"),
		url("../fonts/FiraSans-Medium/FiraSans-Medium.ttf") format("ttf");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Gilroy-Bold/Gilroy-Bold.woff") format("woff"),
		url("../fonts/Gilroy-Bold/Gilroy-Bold.eot") format("eot"),
		url("../fonts/Gilroy-Bold/Gilroy-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Gilroy-Light/Gilroy-Light.woff") format("woff"),
		url("../fonts/Gilroy-Light/Gilroy-Light.eot") format("eot"),
		url("../fonts/Gilroy-Light/Gilroy-Light.ttf") format("ttf");
}

@font-face {
	font-family: "Gilroy";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.woff") format("woff"),
		url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.eot") format("eot"),
		url("../fonts/Gilroy-SemiBold/Gilroy-SemiBold.ttf") format("ttf");
}

@font-face {
	font-family: "HelveticaNeueCyr";
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.woff") format("woff"),
		url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.eot") format("eot"),
		url("../fonts/HelveticaNeueCyr-Light/HelveticaNeueCyr-Light.ttf") format("ttf");
}

@font-face {
	font-family: "HelveticaNeueCyr";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.woff") format("woff"),
		url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.eot") format("eot"),
		url("../fonts/HelveticaNeueCyr-Roman/HelveticaNeueCyr-Roman.ttf") format("ttf");
}

@font-face {
	font-family: "Raleway";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"),
		url("../fonts/Raleway-Bold/Raleway-Bold.eot") format("eot"),
		url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format("ttf");
}

@font-face {
	font-family: "Raleway";
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"),
		url("../fonts/Raleway-Medium/Raleway-Medium.eot") format("eot"),
		url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format("ttf");
}

@font-face {
	font-family: "Raleway";
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"),
		url("../fonts/Raleway-Regular/Raleway-Regular.eot") format("eot"),
		url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("ttf");
}

@font-face {
	font-family: "SFProDisplay";
	font-weight: 600;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.woff") format("woff"),
		url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.eot") format("eot"),
		url("../fonts/SFProDisplay-Semibold/SFProDisplay-Semibold.ttf") format("ttf");
}

@font-face {
	font-family: "TTNorms";
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url("../fonts/TTNorms-Bold/TTNorms-Bold.woff") format("woff"),
		url("../fonts/TTNorms-Bold/TTNorms-Bold.eot") format("eot"),
		url("../fonts/TTNorms-Bold/TTNorms-Bold.ttf") format("ttf");
}
